<ng-container *ngIf="table.settings['multi']">
    <th style="width: 3rem"></th>
</ng-container>
<ng-container *ngIf="table.settings['sort']">
    <th
        class="head-item"
        pSortableColumn="propValueMap.{{property.id}}"
        *ngFor="let property of attribute?.columns"
    >
        {{property.title}}
        <p-sortIcon field="propValueMap.{{property.id}}"></p-sortIcon>

    </th>
</ng-container>

<ng-container *ngIf="!table.settings['sort']">
    <th
        class="head-item"
        *ngFor="let property of attribute?.columns"
    >
        {{property.title}}
    </th>
</ng-container>
