<ng-container *ngIf="initialized">
    <ng-container *ngIf="data['type'] == 'switch'">
        <div class="flex flex-row align-items-center justify-content-start gap-1">
            <label [for]="data['fieldName']">{{data['label']}}</label>
            <p-inputSwitch
                [ngModel]="model"
                [inputId]="data['fieldName']"
                (ngModelChange)="onUpdate($event)"
            ></p-inputSwitch>
        </div>
    </ng-container>
    <ng-container *ngIf="data['type'] != 'switch'">
        <div class="flex flex-row">
            <span
                class="p-inputgroup-addon"
                *ngIf="data['isRequired']"
            >
                <i class="pi pi-exclamation-triangle"></i>
            </span>
            <span
                class="p-inputgroup-addon"
                *ngIf="data['type'] !== 'textarea'"
            >
                <i
                    class="pi"
                    [ngClass]="data['icon']"
                ></i>
            </span>
            <span
                class="p-float-label"
                [class.is-not-mandatory]="!data['isRequired']"
            >
                <p-treeSelect
                    *ngIf="data['type'] == 'tree'"
                    [inputId]="data['fieldName']"
                    [ngModel]="selectedNode"
                    [options]="options"
                    [class.ng-invalid]="!valid()"
                    [class.ng-dirty]="!valid()"
                    [filter]="true"
                    (onNodeExpand)="onNodeExpand($event)"
                    (ngModelChange)="onUpdate($event)"
                ></p-treeSelect>
                <p-calendar
                    *ngIf="data['type'] == 'date'"
                    [ngModel]="model"
                    [class.ng-invalid]="!valid()"
                    [class.ng-dirty]="!valid()"
                    [inputId]="data['fieldName']"
                    [maxDate]="todayDate"
                    (ngModelChange)="onUpdate($event)"
                    dateFormat="dd.mm.yy"
                ></p-calendar>

                <p-dropdown
                    *ngIf="data['type'] == 'dropdown'"
                    [disabled]="data['isDisabled']"
                    [ngModel]="model"
                    [options]="options"
                    [placeholder]="data['label']"
                    [filter]="filter"
                    [class.ng-invalid]="!valid()"
                    [class.ng-dirty]="!valid()"
                    [inputId]="data['fieldName']"
                    (ngModelChange)="onUpdate($event)"
                    emptyFilterMessage="..."
                    optionLabel="name"
                    optionValue="id"
                    filterBy="name"
                >
                </p-dropdown>

                <textarea
                    *ngIf="data['type'] == 'textarea'"
                    [id]="data['fieldName']"
                    [ngModel]="model"
                    [disabled]="data['isDisabled']"
                    [class.ng-invalid]="!valid()"
                    [class.ng-dirty]="!valid()"
                    [autoResize]="true"
                    (ngModelChange)="onUpdate($event)"
                    rows="5"
                    cols="60"
                    pInputTextarea
                >
                </textarea>

                <input
                    *ngIf="data['type'] == 'text'"
                    [id]="data['fieldName']"
                    [ngModel]="model"
                    [disabled]="data['isDisabled']"
                    [class.ng-invalid]="!valid()"
                    [class.ng-dirty]="!valid()"
                    (ngModelChange)="onUpdate($event)"
                    type="text"
                    pInputText
                >

                <p-inputNumber
                    *ngIf="data['type'] == 'int'"
                    [id]="data['fieldName']"
                    [(ngModel)]="model"
                    [disabled]="data['isDisabled']"
                    [class.ng-invalid]="!valid()"
                    [class.ng-dirty]="!valid()"
                    (ngModelChange)="onUpdate($event)"
                    type="text"
                    mode="decimal"
                    pInputText
                >
                </p-inputNumber>

                <p-inputNumber
                    *ngIf="data['type'] == 'double'"
                    [id]="data['fieldName']"
                    [(ngModel)]="model"
                    [disabled]="data['isDisabled']"
                    [class.ng-invalid]="!valid()"
                    [class.ng-dirty]="!valid()"
                    [maxFractionDigits]="2"
                    (ngModelChange)="onUpdate($event)"
                    type="text"
                    mode="decimal"
                    pInputText
                >
                </p-inputNumber>

                <label
                    [class.p-disabled]="data['isDisabled']"
                    [for]="data['fieldName']"
                >{{data['label']}}</label>
            </span>
        </div>
    </ng-container>
</ng-container>