<section>
  <p-toast></p-toast>

  <!-- ATTRIBUTE TITLE BLOCK -->
  <div class="surface-section heading-section" *ngIf="!isLoading">
    <div class="border-bottom-1 surface-border">
      <div class="heading-section-title font-medium align-items-center">
        <span>{{pageTitle}}</span>
      </div>
    </div>
  </div>
  <!-- ATTRIBUTE TITLE BLOCK -->
  <div class="table-container"  *ngIf="!isLoading">

    <p-table #dataFilter sortMode="single" styleClass="p-datatable-striped p-datatable-sm p-datatable-gridlines" [paginator]="true"
      [rows]="25" currentPageReportTemplate="ნაჩვენებია {first} - დან {last} - მდე. სულ {totalRecords} ჩანაწერი"
      [rowsPerPageOptions]="[10, 25, 50]" [showCurrentPageReport]="true" responsiveLayout="scroll" [value]="userPermissions"
      dataKey="id" [tableStyle]="{'min-width': '100%'}">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem"></th>
          <th pSortableColumn="attr_title">დასახელება <p-sortIcon field="attr_title"></p-sortIcon></th>
          <th>ცვლილების უფლება</th>
          <th>წაშლის უფლება</th>
          <th>სტრუქტურის ცვლილების უფლება</th>
        </tr>
        <tr>
          <th></th>
          <th>
            <input pInputText type="text" (input)="dataFilter.filter(filters['title'], 'title', 'contains')"
              [(ngModel)]="filters['title']" placeholder="ძიება"
              class="w-full p-inputtext p-component p-element ng-star-inserted">
          </th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-userPermission>
        <tr>
          <td>
          <td>{{userPermission.attr_title}}</td>
          <td>
            <p-inputSwitch [(ngModel)]="userPermission.update"
              (onChange)="updateAttrPermission(userPermission.attr_id, attrPermissionTypes.UPDATE, $event.checked)"></p-inputSwitch>
          </td>
          <td>
            <p-inputSwitch [(ngModel)]="userPermission.delete"
              (onChange)="updateAttrPermission(userPermission.attr_id, attrPermissionTypes.DELETE, $event.checked)"></p-inputSwitch>
          </td>
          <td>
            <p-inputSwitch [(ngModel)]="userPermission.structure"
              (onChange)="updateAttrPermission(userPermission.attr_id, attrPermissionTypes.STRUCTURE, $event.checked)"></p-inputSwitch>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</section>