<section>
  <p-toast position="top-right"></p-toast>
  <div class="surface-section heading-section">
    <div class="border-bottom-1 surface-border">
      <div class="heading-section-title font-medium align-items-center">
        <span>{{pageTitle}}</span>
      </div>
    </div>
  </div>
  <div class="relative w-100 h-100 m-3" style="margin-top: 2rem!important;">
    <div class="grid">
      <div
        class="col-fixed"
        style="width:280px;"
      >
        <p-selectButton
          [(ngModel)]="selectedSection"
          [options]="options"
          optionLabel="label"
        ></p-selectButton>
      </div>
      <div class="col-fixed w-min">
        <p-divider layout="vertical"></p-divider>
      </div>
      <div
        class="col-fixed"
        style="width: calc(100vw - 280px - 280px - 48px);"
      >
        <div
          *ngIf="selectedSection.value == 0"
          class="flex flex-row gap-4"
        >
          <div class="flex flex-column align-content-center gap-4 fadeindown animation-ease-in
            animation-duration-200">
            <div *ngFor="let item of CaseAttrs.caseFirstCol">
              <custom-input
                [model]="Case.case[item.caseKey]"
                [data]="item"
                (onChange)="Case.case[item.caseKey] = $event"
              ></custom-input>
            </div>
          </div>
          <div class="flex flex-column align-content-center gap-4 fadeindown animation-ease-in
          animation-duration-200">
            <custom-input
              [model]="Case.case.incident"
              [data]="CaseAttrs.caseMap.get('incident')"
              (onChange)="Case.case.incident = $event"
            ></custom-input>
            <!-- If incident is picked -->
            <div
              *ngIf="Case.case.incident !== undefined && Case.case.incident !== null"
              class="fadeinup"
            >
              <custom-input
                [model]="Case.case.incident_text"
                [data]="CaseAttrs.caseMap.get('incident_text')"
                (onChange)="Case.case.incident_text = $event"
              ></custom-input>
            </div>
            <div *ngFor="let item of CaseAttrs.caseSecondCol">
              <custom-input
                [model]="Case.case[item.caseKey]"
                [data]="item"
                (onChange)="Case.case[item.caseKey] = $event"
              ></custom-input>
            </div>
          </div>
        </div>
        <div
          *ngIf="selectedSection.value == 1"
          class="flex flex-column align-content-center gap-4 fadeindown animation-ease-in animation-duration-200"
        >
          <!-- table -->
          <app-checkbox-table
            [initialTree]="caseService.formsOfViolenceTree"
            [caseSectionModel]="Case.forms_of_violence"
            (onSave)="onSave(Case.forms_of_violence = $event)"
          ></app-checkbox-table>
        </div>
        <div
          *ngIf="selectedSection.value == 2"
          class="flex flex-column align-content-center gap-4 fadeindown animation-ease-in animation-duration-200"
        >
          <app-checkbox-table
            [initialTree]="caseService.carePlanTree"
            [caseSectionModel]="Case.care_plans"
            (onSave)="onSave(Case.care_plans = $event)"
          ></app-checkbox-table>
          <!-- table -->
        </div>
        <div
          *ngIf="selectedSection.value == 3"
          class="flex flex-column align-content-center gap-4 fadeindown animation-ease-in animation-duration-200"
        >
          <div *ngFor="let item of CaseAttrs.diagnosisList">
            <custom-input
              [model]="diagnosis[item.diagnosisKey]"
              [data]="item"
              (onChange)="diagnosis[item.diagnosisKey] = $event"
            ></custom-input>
          </div>
        </div>
        <div
          *ngIf="selectedSection.value == 4"
          class="flex flex-column align-content-center gap-4 fadeindown animation-ease-in animation-duration-200"
        >
          <div *ngFor="let item of CaseAttrs.referralList">
            <custom-input
              [model]="referral[item.referralKey]"
              [data]="item"
              (onChange)="referral[item.referralKey] = $event"
            ></custom-input>
          </div>
        </div>
        <div
          *ngIf="selectedSection.value == 5"
          class="flex flex-column align-content-center gap-4 fadeindown animation-ease-in animation-duration-200"
        >
          <div *ngFor="let item of CaseAttrs.consultationList">
            <custom-input
              [model]="consultation[item.consultationKey]"
              [data]="item"
              (onChange)="consultation[item.consultationKey] = $event"
            ></custom-input>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>