<section>
  <div class="surface-section heading-section">
    <div class="border-bottom-1 surface-border">
      <div class="heading-section-title font-medium align-items-center">
        <span>{{pageTitle}}</span>
      </div>
    </div>
  </div>
  <div class="relative w-100 h-100 m-3 mt-6">
    <div class="grid">
      <div
        class="col-fixed"
        style="width:280px;"
      >
        <p-selectButton
          [(ngModel)]="selectedSection"
          [options]="options"
          optionLabel="label"
        ></p-selectButton>
      </div>
      <div class="col-fixed w-min">
        <p-divider layout="vertical"></p-divider>
      </div>
      <div
        class="col-fixed"
        style="width: 1000px;"
      >
        <div
          *ngIf="selectedSection.value == 0"
          class="flex flex-row gap-8"
        >
          <div class="flex flex-column align-content-center gap-4 fadeindown animation-ease-in
            animation-duration-200">
            <div *ngFor="let item of CaseAttrs.caseFirstCol">
              <custom-input
                [model]="Case.case[item.caseKey]"
                [data]="item"
                (onChange)="Case.case[item.caseKey] = $event"
              ></custom-input>
            </div>
          </div>
          <div class="flex flex-column align-content-center gap-4 fadeindown animation-ease-in
          animation-duration-200">
            <custom-input
              [model]="Case.case.incident"
              [data]="CaseAttrs.caseMap.get('incident')"
              (onChange)="Case.case.incident = $event"
            ></custom-input>
            <!-- If incident is picked -->
            <div
              *ngIf="Case.case.incident !== undefined && Case.case.incident !== null"
              class="fadeinup"
            >
              <custom-input
                [model]="Case.case.incident_text"
                [data]="CaseAttrs.caseMap.get('incident_text')"
                (onChange)="Case.case.incident_text = $event"
              ></custom-input>
            </div>
            <div *ngFor="let item of CaseAttrs.caseSecondCol">
              <custom-input
                [model]="Case.case[item.caseKey]"
                [data]="item"
                (onChange)="Case.case[item.caseKey] = $event"
              ></custom-input>
            </div>
          </div>
        </div>
        <div
          *ngIf="selectedSection.value == 1"
          class="flex flex-column align-content-center gap-4 fadeindown animation-ease-in animation-duration-200"
        >
          <custom-input
            [model]="formsOfViolence.category"
            [data]="CaseAttrs.formsOfViolenceMap.get('category')"
            (onChange)="formsOfViolence.category = $event"
          ></custom-input>
        </div>
        <div
          *ngIf="selectedSection.value == 2"
          class="flex flex-column align-content-center gap-4 fadeindown animation-ease-in animation-duration-200"
        >
          <!-- <custom-input
            [model]="carePlan.category"
            [data]="CaseAttrs.carePlanMap.get('category')"
            (onChange)="carePlan.category = $event"
          ></custom-input> -->
          <p-table
            [value]="parents"
            styleClass="p-datatable-sm p-datatable-gridlines"
            sortField="title"
            sortMode="single"
            dataKey="title"
            rowExpandMode="single"
            rowGroupMode="subheader"
            groupRowsBy="value_id"
            responsiveLayout="scroll"
          >
            <ng-template pTemplate="header">
              <tr>
                <th width="5%"></th>
                <th width="45%">დასახელება</th>
                <th width="50%">კომენტარი</th>
              </tr>
            </ng-template>
            <ng-template
              pTemplate="groupheader"
              let-carePlan
              let-rowIndex="rowIndex"
              let-expanded="expanded"
            >
              <tr>
                <td colspan="3">
                  <div class="flex flex-row align-items-center">
                    <button
                      type="button"
                      pButton
                      pRipple
                      [pRowToggler]="carePlan"
                      class="p-button-text p-button-rounded p-button-plain mr-2"
                      [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
                    ></button>
                    <span class="font-bold ml-2">{{carePlan.title}}</span>
                  </div>
                </td>
              </tr>
            </ng-template>
            <ng-template
              pTemplate="rowexpansion"
              let-parent
            >

              <tr *ngFor="let care of getCarePlanNodes(parent.value_id)">
                <td width="5%">
                  <p-checkbox [binary]="true" [(ngModel)]="care.isSelected"></p-checkbox>
                </td>
                <td width="45%">
                  {{care.title}}
                </td>
                <td 
                  width="50%"
                  [pEditableColumn]="care.comment"
                  pEditableColumnField="care.title"
                >
                  <p-cellEditor *ngIf="care.isSelected">
                    <ng-template pTemplate="input">
                      <input
                        type="text"
                        [(ngModel)]="care.comment"
                      >
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{care.comment}}

                    </ng-template>
                  </p-cellEditor>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
        <div
          *ngIf="selectedSection.value == 3"
          class="flex flex-column align-content-center gap-4 fadeindown animation-ease-in animation-duration-200"
        >
          <div *ngFor="let item of CaseAttrs.diagnosisList">
            <custom-input
              [model]="diagnosis[item.diagnosisKey]"
              [data]="item"
              (onChange)="diagnosis[item.diagnosisKey] = $event"
            ></custom-input>
          </div>
        </div>
        <div
          *ngIf="selectedSection.value == 4"
          class="flex flex-column align-content-center gap-4 fadeindown animation-ease-in animation-duration-200"
        >
          <div *ngFor="let item of CaseAttrs.referralList">
            <custom-input
              [model]="referral[item.referralKey]"
              [data]="item"
              (onChange)="referral[item.referralKey] = $event"
            ></custom-input>
          </div>
        </div>
        <div
          *ngIf="selectedSection.value == 5"
          class="flex flex-column align-content-center gap-4 fadeindown animation-ease-in animation-duration-200"
        >
          <div *ngFor="let item of CaseAttrs.consultationList">
            <custom-input
              [model]="consultation[item.consultationKey]"
              [data]="item"
              (onChange)="consultation[item.consultationKey] = $event"
            ></custom-input>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>