<section>
  <p-confirmDialog
    header="Confirmation"
    icon="pi pi-exclamation-triangle"
  ></p-confirmDialog>
  <p-toast position="top-right"></p-toast>
  <div class="surface-section heading-section">
    <div class="border-bottom-1 surface-border">
      <div class="flex flex-row font-medium align-items-center justify-content-start gap-3">
        <span>{{pageTitle}}</span>
        <button
          type="button"
          class="border-btn mb-2 w-min"
          [disabled]="caseService.isInputDisabled"
          (click)="onSave($event, true)"
        >
          <i
            *ngIf="!caseService.isInputDisabled"
            class="pi pi-check mr-2"
          >
          </i>
          <i
            *ngIf="caseService.isInputDisabled"
            class="pi pi-spin pi-spinner mr-2"
          >
          </i>
          შენახვა
        </button>
      </div>
    </div>
  </div>
  <div
    *ngIf="!isLoading"
    class="relative w-100 h-100 m-3"
    style="margin-top: 2rem!important;"
  >
    <div class="grid">
      <div
        class="col-fixed p-0"
        style="width:250px;"
      >
        <p-selectButton
          [(ngModel)]="selectedSection"
          [options]="menuOptions"
          optionLabel="label"
        ></p-selectButton>
      </div>
      <div class="col-fixed w-min">
        <p-divider layout="vertical"></p-divider>
      </div>
      <div
        class="col-fixed p-0"
        style="width: calc(100vw - 280px - 280px - 48px);"
      >
        <div
          [class.is-not-visible]="selectedSection.value != 0"
          class="flex flex-row gap-4"
        >
          <div class="flex flex-column align-content-center gap-4 fadeindown animation-ease-in
            animation-duration-200">
            <div *ngFor="let item of CaseAttrs.caseFirstCol">
              <custom-input
                [model]="Case.case[item.fieldName]"
                [data]="item"
                (onChange)="Case.case[item.fieldName] = $event"
              ></custom-input>
            </div>
          </div>
          <div class="flex flex-column align-content-center gap-4 fadeindown animation-ease-in
          animation-duration-200">
            <custom-input
              [model]="Case.case.incident"
              [data]="CaseAttrs.caseMap.get('incident')"
              (onChange)="Case.case.incident = $event"
            ></custom-input>
            <!-- If incident is picked -->
            <div
              *ngIf="Case.case.incident !== undefined && Case.case.incident !== null"
              class="fadeinup"
            >
              <custom-input
                [model]="Case.case.incident_text"
                [data]="CaseAttrs.caseMap.get('incident_text')"
                (onChange)="Case.case.incident_text = $event"
              ></custom-input>
            </div>
            <div *ngFor="let item of CaseAttrs.caseSecondCol">
              <custom-input
                [model]="Case.case[item.fieldName]"
                [data]="item"
                (onChange)="Case.case[item.fieldName] = $event"
              ></custom-input>
            </div>
          </div>
        </div>
        <div
          [class.is-not-visible]="selectedSection.value != 1"
          class="flex flex-column align-content-center gap-4 fadeindown animation-ease-in animation-duration-200"
        >
          <!-- table -->
          <app-tree-checkbox-table
            *ngIf="caseService.formsOfViolenceTree.length > 0"
            [initialTree]="caseService.formsOfViolenceTree"
            [caseSectionModel]="Case.forms_of_violences"
            (onSave)="onSave(Case.forms_of_violences = $event)"
          ></app-tree-checkbox-table>
        </div>
        <div
          [class.is-not-visible]="selectedSection.value != 2"
          class="flex flex-column align-content-center gap-4 fadeindown animation-ease-in animation-duration-200"
        >
          <app-tree-checkbox-table
            *ngIf="caseService.carePlanTree.length > 0"
            [initialTree]="caseService.carePlanTree"
            [caseSectionModel]="Case.care_plans"
            (onSave)="onSave(Case.care_plans = $event)"
          ></app-tree-checkbox-table>
          <!-- table -->
        </div>
        <div [class.is-not-visible]="selectedSection.value != 3">
          <app-case-section-form
            [inputAttrs]="CaseAttrs.diagnosisList"
            [tableCols]="caseService.diagnosisCols"
            [sectionType]="CaseConfig.detailTypeIDS['diagnoses']"
            [data]="Case.diagnoses"
            [parsedData]="parsedCase.diagnoses"
            [caseID]="Case.case.id"
            [model]="selectedSectionModel"
            (onSave)="onSectionSave($event,CaseConfig.detailTypeIDS['diagnoses'])"
            (onDelete)="onSectionItemDelete($event,CaseConfig.detailTypeIDS['diagnoses'])"
            class="flex flex-row gap-4"
          >
          </app-case-section-form>
        </div>
        <div [class.is-not-visible]="selectedSection.value != 4">
          <app-case-section-form
            [inputAttrs]="CaseAttrs.referralList"
            [tableCols]="caseService.referralCols"
            [sectionType]="CaseConfig.detailTypeIDS['referrals']"
            [data]="Case.referrals"
            [parsedData]="parsedCase.referrals"
            [caseID]="Case.case.id"
            [model]="selectedSectionModel"
            (onSave)="onSectionSave($event,CaseConfig.detailTypeIDS['referrals'])"
            (onDelete)="onSectionItemDelete($event,CaseConfig.detailTypeIDS['referrals'])"
            class="flex flex-row gap-4"
          >
          </app-case-section-form>
        </div>
        <div [class.is-not-visible]="selectedSection.value != 5">
          <app-case-section-form
            [inputAttrs]="CaseAttrs.consultationList"
            [tableCols]="caseService.consultationCols"
            [sectionType]="CaseConfig.detailTypeIDS['consultations']"
            [data]="Case.consultations"
            [parsedData]="parsedCase.consultations"
            [caseID]="Case.case.id"
            [model]="selectedSectionModel"
            (onSave)="onSectionSave($event,CaseConfig.detailTypeIDS['consultations'])"
            (onDelete)="onSectionItemDelete($event, CaseConfig.detailTypeIDS['consultations'])"
            class="flex flex-row gap-4"
          >
          </app-case-section-form>
        </div>
        <div [class.is-not-visible]="selectedSection.value != 6">
          <app-checkbox-table
            [initialOptions]="caseService.mentalSymptomOptions"
            [caseSectionModel]="Case.mental_symptoms"
            (onSave)="onSave(Case.mental_symptoms = $event)"
          ></app-checkbox-table>
        </div>
        <div [class.is-not-visible]="selectedSection.value != 7">
          <app-case-section-form
            [inputAttrs]="CaseAttrs.consultationList"
            [tableCols]="caseService.consultationCols"
            [sectionType]="CaseConfig.detailTypeIDS['consultations']"
            [data]="Case.consultations"
            [parsedData]="parsedCase.consultations"
            [caseID]="Case.case.id"
            [model]="selectedSectionModel"
            (onSave)="onSectionSave($event,CaseConfig.detailTypeIDS['consultations'])"
            (onDelete)="onSectionItemDelete($event, CaseConfig.detailTypeIDS['consultations'])"
            class="flex flex-row gap-4"
          >
          </app-case-section-form>
        </div>
        <div [class.is-not-visible]="selectedSection.value != 8">
          <app-case-section-form
            [inputAttrs]="CaseAttrs.consultationList"
            [tableCols]="caseService.consultationCols"
            [sectionType]="CaseConfig.detailTypeIDS['consultations']"
            [data]="Case.consultations"
            [parsedData]="parsedCase.consultations"
            [caseID]="Case.case.id"
            [model]="selectedSectionModel"
            (onSave)="onSectionSave($event,CaseConfig.detailTypeIDS['consultations'])"
            (onDelete)="onSectionItemDelete($event, CaseConfig.detailTypeIDS['consultations'])"
            class="flex flex-row gap-4"
          >
          </app-case-section-form>
        </div>
      </div>
    </div>
  </div>
</section>