<button
    class="floating-button"
    pStyleClass=".menu"
    enterClass="hidden"
    enterActiveClass="fadeinleft"
    leaveActiveClass="fadeoutleft"
    leaveToClass="hidden"
    (click)="toggleMenu()"
>
    <i
        class="pi"
        [class.pi-chevron-left]="!isMenuVisible"
        [class.pi-chevron-right]="isMenuVisible"
    ></i>
</button>
<div class="menu">
    <div
        class="flex align-items-center px-4 flex-shrink-0"
        style="height:60px"
    >
        <a
            style="cursor:pointer"
            routerLink="/home"
        >
            <img
                class=""
                src="assets/img/logo.png"
                alt="Image"
                height="40"
            >
        </a>


    </div>
    <p-divider></p-divider>

    <p-panelMenu
        [multiple]="false"
        styleClass="mt-3 scrollable-list"
        [model]="items"
    ></p-panelMenu>
</div>