<section>
    <ng-container>
        <ngx-spinner size="medium" color="#fff" bdColor="rgba(51,51,51,0.3)" type="ball-scale-multiple"
            [fullScreen]="false">
            <p style="font-size: 20px; color: white">გთხოვთ დაელოდოთ...</p>
        </ngx-spinner>
    </ng-container>
    <survey [model]="model"></survey>
    <ng-container *ngIf="resultData.length > 0">
        <p-card header="შედეგები" class="survey-card">
            <ul>
                <li *ngFor="let data of resultData; index as i;">
                    <span>{{data.group_title}}: </span>
                    <span style="font-weight: bold; margin-right: 8px;">
                        {{data.result}}
                    </span>
                    <span>{{data.resultLevel}}</span>
                    <p-divider></p-divider>
                </li>
            </ul>
        </p-card>
    </ng-container>

</section>