<main>
    <left-menu></left-menu>
    <section>
        <div style="text-align:center; margin : 60px auto;">
            <h2>
                <!-- მთავარი გვერდის ფუნქციონალი დროებით გათიშულია. -->
            </h2>
        </div>
    </section>
</main>



<!-- <dynamic-form></dynamic-form> -->
<!-- <section>
    <data-table></data-table>
</section> -->

<!-- <section>
    <ng-container *ngIf="views != null && views.length > 0">
        <p-tabView>
            <p-tabPanel
                [header]="section.title"
                *ngFor="let section of sections; let i = index"
                [selected]="i == 0"
            >
                <ng-container *ngFor="let cView of section.form_views">
                    <dynamic-input [property]="cView"></dynamic-input>
                </ng-container>
            </p-tabPanel>
        </p-tabView>
    </ng-container>
</section> -->

<!-- <section>
    <div class="detail">
        <ul class="list">
            <li>
                <button class="border-btn">
                    <div class="sm-btn">
                        <img
                            src="assets/img/download.svg"
                            alt
                        >
                    </div>
                    Save
                </button>
            </li>
            <li>
                <button class="border-btn">
                    <div class="sm-btn">
                        <img
                            src="assets/img/plus-green.svg"
                            alt
                        >
                    </div>
                    New
                </button>
            </li>
            <li>
                <button class="border-btn">
                    <div class="sm-btn">
                        <img
                            src="assets/img/sm-close.svg"
                            alt
                        >
                    </div>
                    Close
                </button>
            </li>
        </ul>
        <ul class="tab">
            <li>
                <button class="active">კლიენტი</button>
            </li>
            <li>
                <button>პროექტები</button>
            </li>
            <li>
                <button>სხვა ფანჯარა</button>
            </li>
        </ul>
        <div class="form">
            <button class="drop-title">
                კლიენტის ძირითადი მახასიათებლები
                <span>
                    6/13
                    <img
                        src="assets/img/arrow-down.svg"
                        alt
                    >
                </span>
            </button>
            <div class="row">
                <div class="col-4">
                    <div class="dropdown">
                        <label>Dropdown use wherever u want</label>
                        <button class="select">
                            <img
                                src="assets/img/arrow-down.svg"
                                alt
                            >
                        </button>
                        <div class="result">
                            <ul>
                                <li>რეზულტ 1</li>
                                <li>რეგისტრაციის თარიღი</li>
                                <li>ამ საღამოს რასაკეთებ</li>
                                <li>სატესტო 2</li>
                                <li>
                                    დროპდოუნებს რატო არ მიხატავს ეს კაცი არასდროს
                                </li>
                                <li>
                                    დროპდოუნებს რატო არ მიხატავს ეს კაცი არასდროს
                                </li>
                                <li>
                                    დროპდოუნებს რატო არ მიხატავს ეს კაცი არასდროს
                                </li>
                                <li>
                                    დროპდოუნებს რატო არ მიხატავს ეს კაცი არასდროს
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="input-form">
                        <label>რეგისტრაციის თარიღი</label>
                        <input type="text">
                        <img
                            src="assets/img/calendar.svg"
                            alt
                        >
                    </div>
                </div>
                <div class="col-4">
                    <div class="input-form">
                        <label>კლიენტის კოდი</label>
                        <input
                            type="text"
                            disabled
                        >
                    </div>
                </div>
                <div class="col-4">
                    <div class="input-form">
                        <label>სახელი</label>
                        <input type="text">
                    </div>
                </div>
                <div class="col-4">
                    <div class="input-form">
                        <label>გვარი</label>
                        <input type="text">
                    </div>
                </div>
                <div class="col-4">
                    <div class="input-form">
                        <label>ტესტ</label>
                        <input type="text">
                    </div>
                </div>
                <div class="col-4">
                    <div class="input-form">
                        <label>i gotta sleep soon</label>
                        <input type="text">
                    </div>
                </div>
            </div>
        </div>
        <div class="form">
            <button class="drop-title">
                დამატებითი ინფორმაცია
                <span>
                    6/13
                    <img
                        src="assets/img/arrow-down.svg"
                        alt
                    >
                </span>
            </button>
            <div class="row">
                <div class="col-4">
                    <div class="input-form">
                        <label>ფილიალი 2</label>
                        <input type="text">
                    </div>
                </div>
                <div class="col-4">
                    <div class="input-form">
                        <label>ამის მერე file attetchemenecemento</label>
                        <input type="text">
                    </div>
                </div>
                <div class="col-4">
                    <div class="input-form">
                        <label>კლიენტის კოდი</label>
                        <input
                            type="text"
                            disabled
                        >
                    </div>
                </div>
                <div class="col-4">
                    <div class="input-form">
                        <label>სახელი</label>
                        <input type="text">
                    </div>
                </div>
                <div class="col-4">
                    <div class="input-form">
                        <label>გვარი</label>
                        <input type="text">
                    </div>
                </div>
                <div class="col-4">
                    <div class="input-form">
                        <label>ტესტ</label>
                        <input type="text">
                    </div>
                </div>
                <div class="col-4">
                    <div class="input-form">
                        <label>i gotta sleep soon</label>
                        <input type="text">
                    </div>
                </div>
            </div>
        </div>
        <div class="form">
            <button class="drop-title">
                მესამე ფორმაც ბარემ სქროლი ქონდეს
                <span>
                    6/13
                    <img
                        src="assets/img/arrow-down.svg"
                        alt
                    >
                </span>
            </button>
            <div class="row">
                <div class="col-4">
                    <div class="input-form">
                        <label>ფილიალი 2</label>
                        <input type="text">
                    </div>
                </div>
                <div class="col-4">
                    <div class="input-form">
                        <label>რეგისტრაციის თარიღი3</label>
                        <input type="text">
                    </div>
                </div>
                <div class="col-4">
                    <div class="input-form">
                        <label>კლიენტის კოდი</label>
                        <input
                            type="text"
                            disabled
                        >
                    </div>
                </div>
                <div class="col-4">
                    <div class="input-form">
                        <label>სახელი</label>
                        <input type="text">
                    </div>
                </div>
                <div class="col-4">
                    <div class="input-form">
                        <label>გვარი</label>
                        <input type="text">
                    </div>
                </div>
                <div class="col-4">
                    <div class="input-form">
                        <label>ტესტ</label>
                        <input type="text">
                    </div>
                </div>
                <div class="col-4">
                    <div class="input-form">
                        <label>i gotta sleep soon</label>
                        <input type="text">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
