input {
    border-radius: 6px;
    width: 250px;
    border: 1px solid #D3DFEB;
    font-size: 12px;
    height: 40px;
    margin-right: 10px;
    /* margin-top:10px; */
}


.structure-switch {
    display: grid;
    margin-top: 30px !important;
}

.structure-drop {
    margin-right: 25px !important;
}

.heading-section .heading-section-title {
    display: inline-block !important;
    font-size: 1rem !important;
}

.form-actions {
    width: 100%;
    text-align: right;
    margin: 10px 0px 0px 0px;
}

.th-group-style {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 12px 4px;
    width: 100%;
}

.center-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

:host ::ng-deep .p-datatable.p-datatable-sm .p-datatable-tbody > tr > td {
    padding: 5px 10px !important;
}