input {
    border-radius: 6px;
    width: 250px;
    border: 1px solid #D3DFEB;
    font-size: 12px;
    height: 40px;
    margin-right: 10px;
}
.structure-switch {
    display: grid;
    margin-top: 30px !important;
}
.structure-drop {
    margin-right: 25px !important;
}
.form-actions {
    width: 100%;
    text-align: right;
    margin: 10px 0px 0px 0px;
}