<p-toast position="top-right"></p-toast>

<section>
  <div class="table-container" style="margin-top:25px">

    <p-table #attrFilter sortMode="single" styleClass="p-datatable-striped p-datatable-sm p-datatable-gridlines"
      [paginator]="true" [rows]="25"
      currentPageReportTemplate="ნაჩვენებია {first} - დან {last} - მდე. სულ {totalRecords} ჩანაწერი"
      [rowsPerPageOptions]="[10, 25, 50]" [showCurrentPageReport]="true" responsiveLayout="scroll" [value]="list"
      dataKey="id" [tableStyle]="{'min-width': '100%'}">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 5rem"></th>
          <!-- <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th> -->
          <th pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
          <th pSortableColumn="title">დასახელება <p-sortIcon field="title"></p-sortIcon></th>
          <th>ატრიბუტის ტიპი</th>
          <th>Lazy</th>
          <th>სტატუსი</th>
          <!-- <th pSortableColumn="price">Price <p-sortIcon field="price"></p-sortIcon></th>
            <th pSortableColumn="category">Category <p-sortIcon field="category"></p-sortIcon></th>
            <th pSortableColumn="rating">Reviews <p-sortIcon field="rating"></p-sortIcon></th>
            <th pSortableColumn="inventoryStatus">Status <p-sortIcon field="inventoryStatus"></p-sortIcon></th> -->
        </tr>
        <tr>
          <th></th>
          <th></th>
          <th>
            <input pInputText type="text" (input)="attrFilter.filter(filters['title'], 'title', 'contains')"
              [(ngModel)]="filters['title']" placeholder="ძიება"
              class="w-full p-inputtext p-component p-element ng-star-inserted">
          </th>
          <th></th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-attribute let-expanded="expanded">
        <tr>
          <td>
            <button type="button" pButton pRipple [pRowToggler]="attribute"
              class="p-button-text p-button-rounded p-button-plain"
              [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
          </td>
          <td>{{attribute.id}}</td>
          <td>{{attribute.title}}</td>
          <td>
            <ng-container *ngIf="attribute.isStandard()">სტანდარტული</ng-container>
            <ng-container *ngIf="attribute.isTree()">ხე</ng-container>
            <ng-container *ngIf="attribute.isEntity()">ობიექტი</ng-container>
          </td>
          <td>
            <p-inputSwitch [(ngModel)]="attribute.lazy"
              (onChange)="updateAttr(attribute, true, $event.checked)"></p-inputSwitch>

            <!-- <div class="p-inputgroup">
              <p-inputSwitch
                  [(ngModel)]="value"
                  [class.ng-invalid]="!valid()"
                  [class.ng-dirty]="!valid()"
                  (ngModelChange)="onUpdate()"
              ></p-inputSwitch>
          </div> -->
          </td>
          <td>
            <p-inputSwitch [(ngModel)]="attribute.status"
              (onChange)="updateAttr(attribute.id, false, $event.checked)"></p-inputSwitch>
          </td>
          <!-- <td><img [src]="'assets/showcase/images/demo/product/' + product.image" [alt]="product.name" width="100" class="shadow-4" /></td>
            <td>{{product.price | currency:'USD'}}</td>
            <td>{{product.category}}</td>
            <td><p-rating [(ngModel)]="product.rating" [readonly]="true" [cancel]="false"></p-rating></td>
            <td><span [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span></td> -->
        </tr>

      </ng-template>
      <ng-template pTemplate="rowexpansion" let-attribute>
        <tr>
          <td colspan="7">
            <button (click)="toggleProperty(attribute.id)" type="button" class="border-btn" style="margin-bottom: 10px;">
              <i class="pi pi-plus-circle"></i>
              დამატება
            </button>

            <!-- Property Add Here  -->
            <ng-container *ngIf="addPropertyButton">
              <p-table dataKey="id" [value]="[{id : 1}]" >
                <ng-template pTemplate="header">
        <tr>
          <th>წყარო</th>
          <th>ატრიბუტის ტიპი</th>
          <th>დასახელება</th>
          <th>მონაცემის ტიპი</th>
          <th>ველის ტიპი</th>
          <th>აუცილებელი ველი</th>
          <th>ფილტრაციის შესაძლებლობა</th>
          <th>მთავარი პარამეტრი</th>
          <th>დამატების დასრულება</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-item>
        <tr>
          <td>
            <p-dropdown [options]="DATA_SOURCE_TYPES" [(ngModel)]="newObject.source" placeholder="აირჩიეთ წყარო" name="name"
              optionLabel="name"></p-dropdown>
          </td>
          <td>
            <p-dropdown [options]="DATA_PROPERTY_TYPES" placeholder="აირჩიეთ ატრიბუტის ტიპი" [(ngModel)]="newObject.type" name="name"
              optionLabel="title" [class.ng-dirty]="newObject.type ? true : false"></p-dropdown>
            <!-- <ng-container *ngIf="property.isAttr()">ატრიბუტი</ng-container> -->
          </td>
          <td><input type="text" placeholder="დასახელება" [(ngModel)]="newObject.title">
          </td>
          <td>
            <p-dropdown [options]="DATA_TYPES" placeholder="აირჩიეთ..." [(ngModel)]="newObject.data_type" name="id"
              optionLabel="title"></p-dropdown>
          </td>
          <td>
            <p-dropdown [options]="DATA_VIEW_TYPES" placeholder="აირჩიეთ..." [(ngModel)]="newObject.data_view" name="id"
              optionLabel="title"></p-dropdown>
          </td>
          <td>
            <p-inputSwitch [(ngModel)]="newObject.is_mandatory"></p-inputSwitch>
          </td>
          <td>
            <p-inputSwitch [(ngModel)]="newObject.has_filter"></p-inputSwitch>
          </td>
          <td>
            <p-inputSwitch [(ngModel)]="newObject.is_primary"></p-inputSwitch>
          </td>
          <td>
            <button (click)="addProperty(attribute.id)" type="button" class="border-btn">
              <i class="pi pi-check"></i>
              შენახვა
            </button>
          </td>
          <!-- <td>{{order.customer}}</td>
                            <td>{{order.id}}</td>
                            <td>{{order.amount | currency:'USD'}}</td>
                            <td><span [class]="'order-badge order-' + order.status.toLowerCase()">{{order.status}}</span></td>
                            <td><p-button type="button" icon="pi pi-search"></p-button></td> -->
        </tr>
      </ng-template>
    </p-table>
    <!-- <input type="text" placeholder="წყარო">

                    <input type="text" placeholder="დასახელება">

                    <input type="text" placeholder="მონაცემის ტიპი">
                    <span class="structure-drop">
                      <p-dropdown
                        [options]="DATA_TYPES"
                        placeholder="მონაცემის ტიპი"
                        name="id"
                        optionLabel="title"
                      ></p-dropdown>
                    </span>
                 
                    <span class="structure-drop">
                      <p-dropdown
                        [options]="DATA_VIEW_TYPES"
                        placeholder="ველის ტიპი"
                        name="id"
                        optionLabel="title"
                      ></p-dropdown>
                    </span>
   
                    <span class="structure-switch" style="margin:0">
                      აუცილებელი ველი
                    <p-inputSwitch></p-inputSwitch>
                    </span>
                    <span class="structure-switch" style="margin-right:30px">
                      ფილტრაციის შესაძლებლობა
                    <p-inputSwitch></p-inputSwitch>
                    </span>
                    <span class="structure-switch">
                      მთავარი პარამეტრი
                    <p-inputSwitch></p-inputSwitch>
                    </span>
                    <input type="text" placeholder="წყარო"> -->
    </ng-container>


    <!-- Property Add Ends HERE -->




    <div class="p-3">
      <p-table [value]="attribute.properties" dataKey="id"
        (onRowReorder)="onRowReorder($event, attribute.id, attribute.properties)">
        <ng-template pTemplate="header">
          <tr>
            <th><i class="pi pi-bars"></i></th>
            <th>ID</th>
            <th>წყარო</th>
            <th>ატრიბუტის ტიპი</th>
            <th>დასახელება</th>
            <th>მონაცემის ტიპი</th>
            <th>ველის ტიპი</th>
            <th>აუცილებელი ველი</th>
            <th>ფილტრაციის შესაძლებლობა</th>
            <th>მთავარი პარამეტრი</th>
            <th>სორტირების ID </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-property let-index="rowIndex">
          <tr [pReorderableRow]="index">
            <td><span class="pi pi-bars" [pReorderableRowHandle]="index"></span></td>
            <td>{{property.id}}</td>
            <td>{{property.source_attr_id}}</td>
            <td>
              <ng-container *ngIf="property.isSection()">სექცია</ng-container>
              <!-- <ng-container *ngIf="property.isAttr()">ატრიბუტი</ng-container> -->
            </td>
            <td><input type="text" placeholder="დასახელება" [(ngModel)]="property.title" (onChange)="updateProperty(property, $event)" disabled="true"></td>
            <td>
              <p-dropdown [options]="DATA_TYPES" placeholder="{{property.title}} - ის ტიპი"
                [(ngModel)]="selectedPropTypes[attribute.id][property.id]" name="id" optionLabel="title" (onChange)="updateProperty(property, $event)"></p-dropdown>
            </td>
            <td>
              <p-dropdown [options]="DATA_VIEW_TYPES" placeholder="{{property.title}} - ის ტიპი"
                [(ngModel)]="selectedPropViewTypes[attribute.id][property.id]" name="id" optionLabel="title" (onChange)="updateProperty(property, $event)">
              </p-dropdown>
            </td>
            <td>
              <p-inputSwitch [(ngModel)]="property.is_mandatory" (onChange)="updateProperty(property, $event)"></p-inputSwitch>
            </td>
            <td>
              <p-inputSwitch [(ngModel)]="property.has_filter" (onChange)="updateProperty(property, $event)"></p-inputSwitch>
            </td>
            <td>
              <p-inputSwitch [(ngModel)]="property.is_primary" ></p-inputSwitch>
            </td>
            <td>{{property.order_id}}</td>
            <!-- <td>{{order.customer}}</td>
                                <td>{{order.id}}</td>
                                <td>{{order.amount | currency:'USD'}}</td>
                                <td><span [class]="'order-badge order-' + order.status.toLowerCase()">{{order.status}}</span></td>
                                <td><p-button type="button" icon="pi pi-search"></p-button></td> -->
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="6">There are no order for this product yet.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    </td>
    </tr>
    </ng-template>
    </p-table>
  </div>
</section>