.form-actions {
    width: 100%;
    text-align: right;
    margin: 10px 0px 0px 0px;
}


section>div {
    width: 50% !important;
    margin: 50px auto;
}

.p-inputgroup {
    margin: 20px 0px;
}

.p-inputgroup-right {
    margin: 20px 0 20px auto;
    display: flex;
    justify-content: flex-end;
}

button:first-child {
    margin-right: 10px;
}

@media only screen and (max-width: 1500px) {
    section>div {
        width: 80% !important;
        margin: 50px auto;
    }
}

.pi-exclamation-triangle {
    font-size: 1.25rem;
}