<p-toast position="top-right"></p-toast>

<section>
    <ng-container>
        <ngx-spinner size="medium" color="#fff" bdColor="rgba(51,51,51,0.1)" type="ball-scale-multiple"
            [fullScreen]="false">
        </ngx-spinner>
    </ng-container>
    <div>
        <p-panel header="პაროლის ცვლილება">
            <div class="form-inputs">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-exclamation-triangle"></i>
                    </span>
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-lock"></i>
                    </span>
                    <input type="password" pInputText (keyup)="cleanValidation()"
                        [(ngModel)]="values['currentPassword']" [class.ng-invalid]="!validators['currentPassword']"
                        [class.ng-dirty]="!validators['currentPassword']" placeholder="არსებული პაროლი">
                </div>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-exclamation-triangle"></i>
                    </span>
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-lock"></i>
                    </span>
                    <input type="password" pInputText [(ngModel)]="values['newPassword']" (keyup)="cleanValidation()"
                        [class.ng-invalid]="!validators['newPassword']" [class.ng-dirty]="!validators['newPassword']"
                        placeholder="ახალი პაროლი">
                </div>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-exclamation-triangle"></i>
                    </span>
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-lock"></i>
                    </span>
                    <input type="password" pInputText (keyup)="cleanValidation()"
                        [(ngModel)]="values['confirmPassword']" [class.ng-invalid]="!validators['confirmPassword']"
                        [class.ng-dirty]="!validators['confirmPassword']" placeholder="გაიმეორეთ ახალი პაროლი">
                </div>
            </div>
            <p-divider></p-divider>
            <div class="form-actions">
                <span>
                    <button pButton type="button" label="ცვლილება" (click)="onSubmit()"
                        class="p-button-outlined p-button-lg">
                    </button>
                </span>
            </div>

        </p-panel>
    </div>
</section>
