<div class="form-container">
    <ng-container>
        <ngx-spinner
            size="medium"
            color="#fff"
            bdColor="rgba(51,51,51,0.1)"
            type="ball-scale-multiple"
            [fullScreen]="false"
        >
            <p style="font-size: 20px; color: white">გთხოვთ დაელოდოთ...</p>
        </ngx-spinner>
    </ng-container>

    <ng-container *ngIf="properties != null && properties.length > 0">
        <div class="manage-form-container">
            <p-tabView>
                <p-tabPanel
                    [header]="section.title"
                    *ngFor="let section of sections; let i = index"
                    [selected]="i == 0"
                >
                    <ng-container *ngIf="preDefined != null && i == 0">
                        <ng-container *ngFor="let item of preDefined">
                            <div class="dynamic-input">
                                <div class="dynamic-input-label">მშობელი</div>
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon">
                                        <i class="pi pi-exclamation-triangle"></i>
                                    </span>
                                    <span class="p-inputgroup-addon">
                                        <i class="pi pi-lock"></i>
                                    </span>
                                    <input
                                        type="text"
                                        id="float-input"
                                        class="p-inputtext-md"
                                        pInputText
                                        [(ngModel)]="item['label']"
                                        [disabled]="true"
                                        placeholder
                                        [style]="{'width':'400px', 'height' : '100%'}"
                                    >
                                </div>
                            </div>

                        </ng-container>
                    </ng-container>

                    <ng-container *ngIf="form.initialsProvided()">
                        <ng-container *ngFor="let property of section.properties">

                            <!-- <ng-container *ngIf="property.isGenerated()">
                                <dynamic-input
                                    (onChange)="form.onValueUpdate(property.id, $event)"
                                    [initialValue]="form.initials[property.id]"
                                    [property]="property"
                                    [validation]="validation"
                                ></dynamic-input>
                            </ng-container>

                            <ng-container *ngIf="!property.isGenerated()">
                                
                            </ng-container> -->
                            <dynamic-input
                                (onChange)="form.onValueUpdate(property.id, $event)"
                                [initialValue]="form.initials[property.id]"
                                [property]="property"
                                [validation]="validation"
                            ></dynamic-input>

                        </ng-container>
                    </ng-container>
                    <ng-container *ngIf="!form.initialsProvided()">
                        <ng-container *ngFor="let property of section.properties">
                            <dynamic-input
                                (onChange)="form.onValueUpdate(property.id, $event)"
                                [property]="property"
                                [validation]="validation"
                            ></dynamic-input>
                        </ng-container>
                    </ng-container>

                </p-tabPanel>
                <!-- <p-tabPanel
                    [header]="subAttribute.title"
                    *ngFor="let subAttribute of children; let i = index"
                    [selected]="i == 0"
                >
                    <data-table [attrID]="subAttribute.id"></data-table>

                </p-tabPanel> -->
            </p-tabView>
        </div>

        <p-divider></p-divider>
        <div class="form-actions">
            <span>
                <button
                    (click)="onCancel()"
                    pButton
                    type="button"
                    label="დახურვა"
                    class="p-button-outlined p-button-md"
                >
                    <i class="pi pi-replay"></i>
                </button>
                <button
                    pButton
                    (click)="onSubmit()"
                    type="button"
                    [label]="form.initialsProvided() ? 'დამატება' : 'რედაქტირება'"
                    class="p-button-outlined p-button-md"
                >
                    <i class="pi pi-check"></i>
                </button>
            </span>

        </div>
    </ng-container>
</div>

<!-- <span class="left-panel">
                <p-menu [model]="items"></p-menu>
            </span>
            <span class="tabview-panel">
                <p-tabView>
                    <p-tabPanel
                        [header]="section.title"
                        *ngFor="let section of sections; let i = index"
                        [selected]="i == 0"
                    >
                        <ng-container *ngFor="let property of section.properties">
                            <dynamic-input
                                (onChange)="form.onValueUpdate(property.id, $event)"
                                [property]="property"
                                [validation]="validation"
                            ></dynamic-input>
                        </ng-container>
                    </p-tabPanel>
                </p-tabView>
            </span> -->
