<div class="header">
    <ul class="list">
        <li>
            <button
                (click)="table.onAddRecord(attribute?.id)"
                type="button"
                class="border-btn"
                [class.disabled]="!table.isSettingEnabled('add')"
            >
                <i class="pi pi-plus-circle"></i>
                დამატება
            </button>
        </li>
        <li>
            <button
                (click)="table.onEditRecord()"
                type="button"
                class="border-btn"
                [class.disabled]="!table.isSettingEnabled('edit')"
            >
                <i class="pi pi-pencil"></i>
                რედაქტირება
            </button>
        </li>
        <li>
            <button
                (click)="table.onDeleteRecords()"
                type="button"
                class="border-btn"
                [class.disabled]="!table.isSettingEnabled('delete')"
            >
                <i class="pi pi-trash"></i>
                წაშლა
            </button>
        </li>
        <li>
            <button
                (click)="table.refresh()"
                type="button"
                class="border-btn icon-only-btn"
                [class.disabled]="!table.isSettingEnabled('reload')"
            >
                <i class="pi pi-refresh"></i>
            </button>
        </li>
    </ul>

    <div class="dropdown">
        <ul class="list">
            <li>
                <button
                    (click)="table.onSettingClick('pdf')"
                    type="button"
                    class="border-btn icon-only-btn"
                    [class.disabled]="!table.isSettingEnabled('pdf')"
                >
                    <i class="pi pi-file-pdf"></i>
                    Export PDF
                </button>
            </li>
            <li>
                <button
                    (click)="table.onSettingClick('xls')"
                    type="button"
                    class="border-btn icon-only-btn"
                    [class.disabled]="!table.isSettingEnabled('xls')"
                >
                    <i class="pi pi-file-excel"></i>
                    Export XLS
                </button>
            </li>
            <li>
                <!-- (click)="op.show($event)" -->
                <button
                    type="button"
                    class="border-btn icon-only-btn"
                >
                    <i class="pi pi-cog"></i>

                </button>
            </li>
        </ul>
    </div>

</div>
