<section *ngIf="!attribute?.hasChildren()">
    <data-table
        [attrID]="attrID"
        [title-editable]="true"
    ></data-table>
</section>
















<section *ngIf="attribute?.hasChildren()">



















    <!-- <p-splitter
            [style]="{'width': '100%', height: '400px', 'padding' : '0px'}"
            [panelSizes]="[20,80]"
        >
            <ng-template pTemplate>
                <p-listbox
                    [options]="(attribute && attribute.children) ? attribute.children : []"
                    [(ngModel)]="selectedsubAttribute"
                    optionLabel="title"
                ></p-listbox>
            </ng-template>





            <ng-template pTemplate></ng-template>
        </p-splitter> -->
    <p-panel
        header="დამატება"
        [toggleable]="true"
    >
        <manage-object [attribute]="attribute"></manage-object>
    </p-panel>




    <p-divider layout="horizontal"></p-divider>



    <p-panel
        header="{{attribute?.title}}"
        [toggleable]="true"
    >
        <data-table [attrID]="attrID"></data-table>
        <!-- <div class="flex">
            <div>
                <p-listbox
                    [options]="(attribute && attribute.children) ? attribute.children : []"
                    [(ngModel)]="selectedsubAttribute"
                    optionLabel="title"
                ></p-listbox>
            </div>
            <p-divider layout="vertical"></p-divider>
            <div>
                <p-scrollPanel [style]="{width: '100%', height: '400px'}">
                    <ng-container *ngFor="let subAttribute of children; let j = index">
                        <data-table
                            *ngIf="subAttribute.id == selectedsubAttribute?.id"
                            [attrID]="subAttribute.id"
                            [valueID]="valueID"
                        ></data-table>
                    </ng-container>
                </p-scrollPanel>
            </div>
        </div> -->
    </p-panel>






















    <!-- <p-tabView>
            <p-tabPanel
                header="მართვა"
                class="management-tab-panel"
            >
                <p-tabView *ngIf="attribute?.hasChildren()">
                    <p-tabPanel
                        [header]="subAttribute.title"
                        *ngFor="let subAttribute of children; let j = index"
                        [selected]="j == 0"
                    >
                        <ng-container *ngIf="j == 0">
                            <data-table [attrID]="attrID"></data-table>
                        </ng-container>
                        <ng-container *ngIf="j > 0">
                            <data-table
                                [attrID]="subAttribute.id"
                                [valueID]="valueID"
                            ></data-table>
                        </ng-container>
                    </p-tabPanel>
                </p-tabView>


                <data-table
                    *ngIf=" attribute && !attribute?.hasChildren()"
                    [attrID]="attrID"
                ></data-table>
            </p-tabPanel>


            <p-tabPanel header="დამატება">
                <div class="form-container">
                    <ng-container>
                        <ngx-spinner
                            size="medium"
                            color="#fff"
                            bdColor="rgba(51,51,51,0.1)"
                            type="ball-scale-multiple"
                            [fullScreen]="false"
                        >
                            <p style="font-size: 20px; color: white">გთხოვთ დაელოდოთ...</p>
                        </ngx-spinner>
                    </ng-container>


                    <ng-container *ngIf="properties != null && properties.length > 0">
                        <p-tabView *ngIf="attribute?.hasChildren()">
                            <p-tabPanel
                                [header]="subAttribute.title"
                                *ngFor="let subAttribute of children; let j = index"
                                [selected]="j == 0"
                            >
                                <ng-container *ngIf="j == 0">
                                    <dynamic-form
                                        [attribute]="attribute"
                                        *ngIf="attribute"
                                    ></dynamic-form>
                                </ng-container>
                                <ng-container *ngIf="j > 0">
                                    <data-table
                                        [attrID]="subAttribute.id"
                                        [valueID]="valueID"
                                    ></data-table>
                                </ng-container>
                            </p-tabPanel>
                        </p-tabView>



                        <div
                            class="manage-form-container"
                            *ngIf="!attribute?.hasChildren()"
                        >
                            <dynamic-form
                                [attribute]="attribute"
                                *ngIf="attribute"
                            ></dynamic-form>
                        </div>
                     
                    </ng-container>
                </div>
            </p-tabPanel>


        </p-tabView> -->


















</section>

















<!-- <p-divider></p-divider>

                        <div class="form-actions">
                            <span>
                                <button
                                    (click)="onCancel()"
                                    pButton
                                    type="button"
                                    label="დახურვა"
                                    class="p-button-outlined p-button-md"
                                >
                                    <i class="pi pi-replay"></i>
                                </button>
                                <button
                                    pButton
                                    (click)="onSubmit()"
                                    type="button"
                                    [label]="valueID == null ? 'დამატება' : 'რედაქტირება'"
                                    class="p-button-outlined p-button-md"
                                >
                                    <i class="pi pi-check"></i>
                                </button>
                            </span>

                        </div> -->




















<!-- <p-tabView *ngIf="!attribute?.hasChildren()">
                            <p-tabPanel
                                [header]="subAttribute.title"
                                *ngFor="let subAttribute of children; let j = index"
                                [selected]="j == 0"
                            >
                                <ng-container *ngIf="j == 0">
                                    <dynamic-form
                                        [attribute]="attribute"
                                        *ngIf="attribute"
                                    ></dynamic-form>
                                </ng-container>
                                <ng-container *ngIf="j > 0">
                                    <data-table
                                        [attrID]="subAttribute.id"
                                        [valueID]="valueID"
                                    ></data-table>
                                </ng-container>
                            </p-tabPanel>
                        </p-tabView> -->

















<!-- <div class="manage-form-container">
                            <p-tabView>
                                <p-tabPanel
                                    [header]="section.title"
                                    *ngFor="let section of sections; let i = index"
                                    [selected]="i == 0"
                                >
                                    <ng-container *ngIf="initialValuesProvided">
                                        <ng-container *ngFor="let property of section.properties">
                                            <dynamic-input
                                                (onChange)="onValueUpdate(property.id, $event)"
                                                [initialValue]="initialValues[property.id]"
                                                [property]="property"
                                                [validation]="validation"
                                            ></dynamic-input>
                                        </ng-container>
                                    </ng-container>
                                    <ng-container *ngIf="!initialValuesProvided">
                                        <ng-container *ngFor="let property of section.properties">
                                            <dynamic-input
                                                (onChange)="onValueUpdate(property.id, $event)"
                                                [property]="property"
                                                [validation]="validation"
                                            ></dynamic-input>
                                        </ng-container>
                                    </ng-container>

                                </p-tabPanel>
                         
                            </p-tabView>
                        </div> -->

















<!-- <p-tabPanel
                        [header]="subAttribute.title"
                        *ngFor="let subAttribute of children; let i = index"
                        [selected]="i == 0"
                    >
                        <data-table [attrID]="subAttribute.id"></data-table>
      
                    </p-tabPanel> -->
