input,
::ng-deep p-calendar input.p-inputtext,
::ng-deep .p-dropdown,
::ng-deep .p-treeselect,
::ng-deep p-inputnumber .p-inputtext {
    border-radius: 0 6px 6px 0;
    min-width: 500px;
    max-width: 500px;
    border: 1px solid #D3DFEB;
    font-size: 1rem !important;
    height: 40px;
}

// for label inside dropdown
label,
::ng-deep .p-inputtext {
    font-size: 1rem;
}

::ng-deep .p-treenode-label {
    font-size: .8rem;
}

// for float label
.p-float-label input:focus~label,
.p-float-label input.p-filled~label,
.p-float-label textarea:focus~label,
.p-float-label textarea.p-filled~label,
.p-float-label .p-inputwrapper-focus~label,
.p-float-label .p-inputwrapper-filled~label {
    font-size: .875rem;
}

textarea {
    min-height: 100px;
}

.is-not-visible {
    display: none !important;
}

:where(.is-not-mandatory) {

    input,
    ::ng-deep .p-inputnumber,
    ::ng-deep p-calendar input.p-inputtext,
    ::ng-deep .p-dropdown,
    ::ng-deep .p-treeselect {
        max-width: unset;
        width: calc(500px + 38px) !important;
    }
}

::ng-deep .p-ripple.p-element.p-dropdown-item {
    font-family: roman;
    font-size: 1rem;
}

::ng-deep .p-dropdown-label,
::ng-deep .p-treeselect-label-container {
    display: flex !important;
    font-family: roman;
    font-size: 1rem;
    align-items: center;
    justify-content: flex-start;
}

::ng-deep .p-treeselect-label-container .p-treeselect-label {
    font-size: 1rem;
    padding: 0;
    font-family: roman;
    margin-left: 6px;
}

::ng-deep .p-inputswitch {
    display: flex !important;
}

::ng-deep .p-buttonset .p-button,
::ng-deep .p-buttonset .p-button:not(:first-of-type):not(:last-of-type) {
    border-radius: 8px !important;
    min-width: 252px;
    border: none;
}

::ng-deep .p-selectbutton {
    border: none;
}

::ng-deep .p-selectbutton .p-button.p-highlight,
::ng-deep .p-buttonset .p-button.p-highlight:not(:last-of-type) {
    background: var(--green-50);
    border: 1px solid var(--green-100);
    color: var(--green-500) !important;
}

::ng-deep .p-selectbutton .p-button:focus {
    outline: 0 none !important;
    box-shadow: 0 0 0 0 !important;
}

::ng-deep .p-selectbutton .p-button.p-highlight:hover {
    background: var(--green-500);
}

::ng-deep .p-selectbutton .p-button.p-highlight:hover * {
    color: var(--green-50) !important;
}

::ng-deep .p-selectbutton .p-button.p-highlight span {
    color: var(--green-500) !important;
}

::ng-deep .p-selectbutton .p-button span {
    margin-left: 2px;
    text-align: left;
    font-size: .875rem;
}

::ng-deep .p-selectbutton .p-button {
    border-radius: 5px;
    margin-bottom: 4px !important;
}

::ng-deep p-dropdownitem li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 555px;
}