  <div [style.max-width]="isFormTable ? 'calc(100vw - 275px - 280px - 400px - 48px)' : '100%' ">


    <div class="header justify-content-start gap-2">
      <ng-container *ngIf="!isFormTable">
        <button
          type="button"
          class="border-btn mb-2"
          (click)="onAddClick()"
        >
          <i class="pi pi-file mr-2"></i>
          დამატება
        </button>
      </ng-container>
      <button
        type="button"
        class="border-btn mb-2"
        (click)="onEditClick()"
        [class.p-disabled]="!selectedRow"
        [disabled]="!selectedRow"
      >
        <i class="pi pi-file-edit mr-2"></i>
        რედაქტირება
      </button>
      <button
        type="button"
        class="border-btn mb-2"
        [class.p-disabled]="!selectedRow"
        (click)="onDeleteClick()"
        [disabled]="!selectedRow"
      >
        <i class="pi pi-trash mr-2"></i>
        წაშლა
      </button>
    </div>
    <p-table
      [value]="parsedData"
      [responsive]="true"
      [selection]="selectedRow"
      styleClass="p-datatable-sm p-datatable-gridlines"
      [style.max-width]="isFormTable ? 'calc(100vw - 280px - 280px - 400px - 48px)' : '100%' "
      responsiveLayout="scroll"
      selectionMode="single"
      (onRowSelect)="onRowSelect($event)"
      (onRowUnselect)="onRowUnselect($event)"
      dataKey="generated_id"
    >
      <ng-template pTemplate="header">
        <tr>
          <th></th>
          <th
            *ngFor="let col of columns"
            [pSortableColumn]="col['fieldName']"
          >{{col.label}}<p-sortIcon [field]="col['fieldName']"></p-sortIcon>
          </th>
        </tr>
        <tr>
          <th></th>
          <th *ngFor="let col of columns">
            <p-columnFilter
              *ngIf="!col.fieldName.includes('date')"
              [field]="col.fieldName"
              type="text"
              matchMode="contains"
              [showClearButton]="false"
              [showMenu]="false"
            ></p-columnFilter>
          </th>
        </tr>
      </ng-template>
      <ng-template
        pTemplate="body"
        *ngIf="loading == true"
      >
        <tr style="height:46px">
          <td *ngFor="let col of columns">
            <p-skeleton></p-skeleton>
          </td>
        </tr>
      </ng-template>
      <ng-template
        pTemplate="body"
        let-model
      >
        <tr>
          <td>
            <p-tableRadioButton [value]="model"></p-tableRadioButton>
          </td>
          <td *ngFor="let col of columns">
            {{
            model[col.fieldName]
            }}
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
          <tr>
            <td [colSpan]="columns.length + 1"><span class="text-xl text-center flex justify-content-center m-5" style="font-family: roman;">ჩანაწერები არ მოიძებნა</span></td>
        </tr>
    </ng-template>
    </p-table>
  </div>