td > span {
    font-size: .9rem;
    font-family: roman;
}

.p-editable-column input {
    border-radius: 0;
    border: 1px solid #D3DFEB;
    max-width: unset;
    width: 100%;
    font-size: 1rem !important;
    height: 40px;
}