/* You can add global styles to this file, and also import other style files */
@import 'primeflex/primeflex.scss';
@import "primeicons/primeicons.css";
@import "primeng/resources/primeng.min.css";
@import "primeng/resources/themes/saga-green/theme.css";
@import "quill/dist/quill.core.css";
@import "quill/dist/quill.snow.css";
@import "ngx-spinner/animations/ball-scale-multiple.css";

.item-count-text-style {
    @include styleclass('inline-flex align-items-center justify-content-center ml-auto bg-teal-500 text-0 border-circle')
}
.table-animation {
    @include styleclass('fadein animation-duration-500')
}

html {
    scroll-behavior: smooth;
    line-height: 1.15;
}

body {
    margin: 0;
    line-height: 1.5;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}


* {
    padding: 0;
    margin: 0;
    color: #333333;
    font-family: light;
    box-sizing: border-box;
}

.sd-root-modern ::-webkit-scrollbar-thumb {
    background: var(--teal-500);
}

.sd-root-modern ::-webkit-scrollbar-thumb {
    background: var(--teal-500);
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #FFF;
}

::-webkit-scrollbar-thumb {
    background: var(--teal-500);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--teal-600);
}

@font-face {
    font-family: caps;
    src: url(assets/fonts/helvetica-neue-lt-geo-65-medium-caps.ttf);
}

@font-face {
    font-family: light;
    src: url(assets/fonts/helvetica-neue-lt-geo-65-medium.ttf);
}

@font-face {
    font-family: roman;
    src: url(assets/fonts/helvetica-neue-lt-geo-55-roman.ttf);
}

a {
    text-decoration: none;
    color: #333333;
}

a:hover {
    text-decoration: none;
    color: #333333;
}

p {
    margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    line-height: 1;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.m-0 {
    margin: 0 !important;
}

.pr-0 {
    padding-right: 0px !important;
}

textarea {
    resize: none;
    outline: none;
}

textarea::-webkit-scrollbar {
    width: 4px;
}

textarea::-webkit-scrollbar-track {
    background-color: #F1F1F5;
}

textarea::-webkit-scrollbar-thumb {
    background: #DADAE3;
    border-radius: 5px;
}

textarea::-webkit-scrollbar-thumb:hover {
    background: #46AB44;
}

textarea:focus {
    outline: none;
}

.position-unset {
    position: unset !important;
}

.relative {
    position: relative;
}

label {
    margin: 0;
    font-family: 'roman' !important;
    line-height: 1;
}

th {
    font-family: 'roman' !important;
}

input.p-inputtext {
    font-family: roman !important;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

button:focus {
    outline: none;
}

input {
    outline: none;
    padding: 0px 10px;
}

input:checked[type="radio"]:before {
    transform: translate(-50%, -50%) scale(1);
}

input:checked[type="radio"] {
    border: 1.5px solid #46AB44;
}

*::selection {
    color: white;
    background-color: #46AB44;
}

.text ul {
    padding-left: 15px;
    list-style-type: disc;
}

img {
    vertical-align: middle;
    border-style: none;
}

.col,
.col-1,
.col-3,
.col-2,
.col-5,
.col-6,
.col-4,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.col-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

$green: #46AB44;
$lightgreen: rgba(#46AB44, 0.35);
$darkgreen: #2D972B;
$red: #C62323;
$main: #333333;
$grey: #6E747B;
$lightgrey: #D3DFEB;
$greenicon: brightness(0) saturate(100%) invert(59%) sepia(11%) saturate(2337%) hue-rotate(70deg) brightness(93%) contrast(93%);
$border: 1px solid $lightgrey;


$logoGreen: #006873;
$hoverColor: #e8f2f4;
$gcrtGold: #D3C797;
$gcrtWhite: #ede9e6;
$gcrtTeal: #5e9191;
$gcrtMainTeal: #7ab3b6;
$gcrtMain: #006873;
$gcrtLightGrey: #8b97b5;
$gcrtGrey: #48586d;
$gcrtOrange: #d67047;
$gcrtShadow: #a7d0d6;

section {
    padding: 0px 0px 0px 0px;
    display: inline-block;
    width: calc(100% - 250px);
}

.header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;

    .list {
        gap: 10px;
        display: flex;
    }
}

@mixin button-styles {
    border: $border;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: roman;
    padding: 6px 12px;
    font-size: 12px;
    border-radius: 5px;
    transition: 0.2s;
    color: var(--gray-50);
}

.border-btn {
    @include button-styles;
    color: $gcrtGrey;

    i {
        margin-right: 5px !important;
    }

    &:hover {
        border: 1px solid $grey;
    }

    &.active {
        border: 1px solid #46AB44;
        background-color: rgba(#46AB44, 0.10);
    }
}

.orange-border-btn {
    @include button-styles;
    color: var(--gray-50);
    background: $gcrtOrange;

    i {
        margin-right: 5px !important;
        color: var(--gray-50);
    }

    &:hover {
        border: 1px solid #b35b32;
    }

    &:disabled {
        color: $grey;
        background: var(--gray-50);
    }
}

.red-border-btn {
    @include button-styles;
    color: var(--gray-50);
    background: $red;

    i {
        margin-right: 5px !important;
        color: var(--gray-50);
    }

    &:hover {
        border: 1px solid #a00a0a;
    }

    &:disabled {
        color: $grey;
        background: var(--gray-50);
    }
}

.icon-border-btn {
    @include button-styles;
    color: $grey;

    &:hover {
        border: 1px solid $grey;
    }

    &.active {
        border: 1px solid #46AB44;
        background-color: rgba(#46AB44, 0.10);
    }
}

//CUSTOMIZATIONS
.p-tag-value {
    color: white !important;
    font-weight: normal !important;
    font-size: 12px !important;
    line-height: 1.05 !important;
}

.p-chip-text {
    font-weight: normal !important;
    line-height: 1.05 !important;
    font-size: 12px !important;
    text-align: left;
    max-width: 1750px;
}

.p-multiselect .p-multiselect-label {
    padding: 5px !important;
    font-size: 12px !important;
    text-align: left !important;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s !important;
}

//////////TABLE RELATED///////////////
.p-datatable .p-datatable-tbody>tr>td,
.p-treetable .p-treetable-tbody>tr>td {
    font-size: 0.85rem;
    text-align: left;
    vertical-align: middle;
    position: relative !important;
}

.p-datatable .p-datatable-tbody>tr,
.p-treetable .p-treetable-tbody>tr {
    height: 40px;
    transition: background-color 150ms linear;
}

.p-datatable .p-datatable-tbody>tr:hover,
.p-treetable .p-treetable-tbody>tr:hover,
.p-datatable .p-datatable-tbody>tr:hover:nth-child(even),
.p-treetable .p-treetable-tbody>tr:hover:nth-child(even) {
    cursor: pointer;
    background-color: $hoverColor !important;
}

.p-datatable.p-datatable-sm .p-datatable-thead tr th,
.p-treetable.p-treetable-sm .p-treetable-thead tr th {
    font-size: 0.85rem;
    position: relative !important;

}

//////////TABLE RELATED///////////////

.p-multiselect-panel .p-multiselect-items .p-multiselect-item {
    font-size: 12px !important;
}

.p-column-filter-overlay .p-column-filter-row-items .p-column-filter-row-item {
    font-size: 12px !important;
}

p-sorticon {
    position: absolute;
    top: 2px;
    right: 2px;
}

p-sorticon i {
    font-size: 12px !important;
}

.p-inputtext {
    font-size: 0.875rem;
    padding: 5px !important;
}

.p-togglebutton.p-button.p-highlight {
    background: #4caf5085;
    border-color: #4caf5085;
    color: #ffffff !important;
}

.p-togglebutton.p-button.p-highlight span {
    color: #ffffff !important;
}

.table-settings {
    .p-divider.p-divider-horizontal {
        margin: 5px 10px !important;
        padding: 0 1rem !important;
    }


    .switch-input-group {
        height: 30px !important;
    }

    .switch-input-group span {
        margin-right: 10px !important;
        font-size: 14px !important;
        width: 100% !important;
        line-height: 30px !important;
    }

}

.p-button-label {
    font-weight: normal;
}

.p-dialog .p-dialog-header .p-dialog-title {
    font-weight: normal !important;
    font-size: 1.2rem !important;
    font-family: 'roman' !important;
}

.form-container {
    position: relative;
    width: 100%;
    min-height: 300px;
    border-top: 1px solid #dee2e6;
    padding-top: 10px;
}

.manage-form-container .p-tabview-title {
    font-weight: normal !important;
    font-size: 14px !important;
    font-family: 'roman' !important;
}

.manage-form-container .p-tabview-nav-container {
    position: relative !important;
    width: 20% !important;
    display: inline-block !important;
    vertical-align: top !important;
}

.manage-form-container .p-tabview .p-tabview-panels {
    display: inline-block !important;
    width: 80% !important;
    padding-top: 0px !important;
}

.manage-form-container .p-tabview .p-tabview-nav {
    flex-direction: column !important;
}

.manage-form-container .p-tabview .p-tabview-nav li .p-tabview-nav-link {
    border-width: 0 2px 0 0 !important;
}

.manage-form-container .p-tabview-nav-content {
    margin-top: 20px;
    background: #ffffff !important;
    color: #495057 !important;
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%) !important;
    border-radius: 6px !important;
}

.manage-form-container .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    background: #ffffff;
    border-color: #4CAF50 !important;
    color: #4CAF50 !important;
}

.manage-form-container .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link span {
    color: #4CAF50 !important;
}

.manage-form-container .p-tabview .p-tabview-nav li {
    margin-right: 0;
}

.form-actions button i {
    margin-right: 12px;
}

.p-treeselect {
    width: 400px !important;
}

.p-tree {
    padding: 5px !important;
}

.p-tree .p-tree-container .p-treenode {
    font-size: 11px !important;
    font-family: 'roman';
}

.p-divider.p-divider-horizontal {
    margin: 0.2rem 0 !important;
    padding: 0 0.2rem !important;
}

.heading-section>div {
    padding: 20px !important;
}

.heading-section .heading-section-title {
    display: inline-block !important;

    font-size: 1.75rem !important;
}

.heading-section .heading-section-title div {
    font-family: 'roman' !important;
}

.p-tabview-title {
    white-space: normal !important;
}

textarea.ng-dirty.ng-invalid {
    border-color: #f44336 !important;
}

:host ::ng-deep .p-rowgroup-footer td {
    font-weight: 700;
}

:host ::ng-deep .p-rowgroup-header {
    span {
        font-weight: 700;
    }

    .p-row-toggler {
        vertical-align: middle;
        margin-right: .25rem;
    }
}

app-attribute-form .p-panel .p-panel-content {
    padding: 0px !important;
    border: 1px solid #dee2e6;
    background: #ffffff;
    color: #495057;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 0 none;
}

.sd-page {
    font-size: 12px !important;
    margin-top: 0 !important;
    padding-top: 0 !important;
    padding: 0 !important;
}

.sv-container-modern__title {
    padding-top: 2em !important;
    padding-bottom: .5em;
    margin-left: 12px !important;
    margin-right: 12px !important;
    border-bottom: 1px solid var(--surface-border);
}

.sv-matrix-row {
    background-color: #f9f9f9 !important;
    /* Set the background color for even rows */
}

.sv-matrix-row:nth-child(2n+1) {
    background-color: #ffffff !important;
    /* Set the background color for odd rows */
}

@media only screen and (min-width: 1000px) {

    .sv-body__timer,
    .sv-body__page,
    .sv-body__footer.sv-footer.sv-action-bar {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
}

.sv-table {
    border: 1px solid var(--surface-border);

    span {
        font-size: 18px !important;
        font-family: roman !important;
    }

    tr {
        padding: 24px;
        background-color: #f9f9f9;
        /* Set the background color for rows */

        &:nth-child(2n+1) {
            background-color: #ffffff;
            /* Set the background color for odd rows */
        }
    }
}

.sd-row {
    margin-top: 0 !important;
}

.survey-card {
    font-family: caps !important;
    margin: 48px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.survey-card .p-card {
    width: 650px;
}

.heading-section .heading-section-title {
    display: inline-block !important;
    font-size: 1rem !important;
}

.th-group-style {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 12px 4px;
    width: 100%;
}

// PRIMENG
.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
    background: $gcrtMain;
}

.p-checkbox .p-checkbox-box.p-highlight,
.p-radiobutton .p-radiobutton-box.p-highlight {
    border-color: $gcrtMain !important;
    background: $gcrtMain !important;
}

.p-inputswitch.p-focus .p-inputswitch-slider {
    box-shadow: 0 0 0 0.2rem $gcrtShadow;
}

.p-inputtext:not(.p-disabled):hover,
.p-dropdown:not(.p-disabled):hover,
.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover,
.p-radiobutton:not(.p-radiobutton-disabled) .p-radiobutton-box:hover {
    border-color: $gcrtMain !important;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover,
.p-highlight {
    background-color: $hoverColor !important;
}



.p-inputtext:enabled:focus,
.p-dropdown:not(.p-disabled).p-focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem $gcrtShadow;
    border-color: $gcrtMain !important;
}

.p-toast.p-toast-message.p-toast-message-content.p-toast-summary {
    font-family: roman;
}

.p-ripple.p-element.p-button.p-component span.p-button-label {
    width: max-content;
}

.p-button.p-button-secondary.p-button-outlined:enabled:hover {
    background: $gcrtMain;
    border: 1px solid $hoverColor;
    span {
        color: $hoverColor;
    }
}

.p-button.p-button-secondary.p-button-outlined {
    border: 1px solid $gcrtMain;
    span {
        color: $gcrtMain;
    }
}