/* You can add global styles to this file, and also import other style files */
@import 'primeflex/primeflex.scss';
@import "primeicons/primeicons.css";
@import "primeng/resources/primeng.min.css";
@import "primeng/resources/themes/saga-green/theme.css";
@import "quill/dist/quill.core.css";
@import "quill/dist/quill.snow.css";
@import "ngx-spinner/animations/ball-scale-multiple.css";

.main-menu-button {
    @include styleclass('flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors');
}

.main-menu-ul {
    @include styleclass('py-0 pl-2 pr-0 m-0 transition-all transition-duration-400 transition-ease-in-out')
}

.item-count-text-style {
    @include styleclass('inline-flex align-items-center justify-content-center ml-auto bg-teal-500 text-0 border-circle')
}

html {
    scroll-behavior: smooth;
    line-height: 1.15;
}

body {
    margin: 0;
    line-height: 1.5;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}


* {
    padding: 0;
    margin: 0;
    color: #333333;
    font-family: light;
    box-sizing: border-box;
}

.sd-root-modern ::-webkit-scrollbar-thumb {
    background: var(--teal-500);
}

.sd-root-modern ::-webkit-scrollbar-thumb {
    background: var(--teal-500);
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #FFF;
}

::-webkit-scrollbar-thumb {
    background: var(--teal-500);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--teal-600);
}

@font-face {
    font-family: caps;
    src: url(assets/fonts/helvetica-neue-lt-geo-65-medium-caps.ttf);
}

@font-face {
    font-family: light;
    src: url(assets/fonts/helvetica-neue-lt-geo-65-medium.ttf);
}

@font-face {
    font-family: roman;
    src: url(assets/fonts/helvetica-neue-lt-geo-55-roman.ttf);
}

a {
    text-decoration: none;
    color: #333333;
}

a:hover {
    text-decoration: none;
    color: #333333;
}

p {
    margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    line-height: 1;
    margin: 0;
}

.hide-576 {
    display: flex !important;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.radius-0 {
    border-radius: 0 !important;
}

.m-auto {
    margin: auto !important;
}

.m-0 {
    margin: 0 !important;
}

.mt-5 {
    margin-top: 5px !important;
}

.mt-10 {
    margin-top: 10px !important;
}

.mt-20 {
    margin-top: 20px !important;
}

.mt-24 {
    margin-top: 24px !important;
}

.mt-30 {
    margin-top: 30px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-50 {
    margin-top: 50px !important;
}

.mt-80 {
    margin-top: 80px;
}

.mt-100 {
    margin-top: 100px;
}

.mr-5 {
    margin-right: 5px !important;
}

.mr-40 {
    margin-right: 40px !important;
}

.mr-15 {
    margin-right: 15px !important;
}

.mr-10 {
    margin-right: 10px !important;
}

.mr-20 {
    margin-right: 20px !important;
}

.mr-30 {
    margin-right: 30px !important;
}

.mr-60 {
    margin-right: 60px !important;
}

.ml-5 {
    margin-left: 5px !important;
}

.ml--4 {
    margin-left: -4px !important;
}

.ml-4 {
    margin-left: 4px !important;
}

.ml-10 {
    margin-left: 10px !important;
}

.ml-15 {
    margin-left: 15px !important;
}

.ml-20 {
    margin-left: 20px !important;
}

.mb-0 {
    margin-bottom: 0px !important;
}

.mb-5 {
    margin-bottom: 5px !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mb-15 {
    margin-bottom: 15px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mb-24 {
    margin-bottom: 24px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mb-40 {
    margin-bottom: 40px !important;
}

.mb-50 {
    margin-bottom: 50px !important;
}

.mb-80 {
    margin-bottom: 80px;
}

.mb-90 {
    margin-bottom: 90px;
}

.mtb-60 {
    margin: 60px 0px;
}

.m-0-5 {
    margin: 0px 5px;
}

.p-0 {
    padding: 0px !important;
}

.pl-0 {
    padding-left: 0px;
}

.pl-10 {
    padding-left: 10px;
}

.pr-0 {
    padding-right: 0px !important;
}

.p-20 {
    padding: 20px;
}

.p-5-0 {
    padding: 5px 0px;
}

.p-0-15 {
    padding: 0px 15px;
}

.p-0-20 {
    padding: 0px 20px;
}

.p-20-0 {
    padding: 20px 0px;
}

.pt-20 {
    padding-top: 20px !important;
}

.pt-10 {
    padding-top: 10px !important;
}

.pb-20 {
    padding-bottom: 20px !important;
}

.pb-0 {
    padding-bottom: 0px !important;
}

textarea {
    resize: none;
    outline: none;
}

textarea::-webkit-scrollbar {
    width: 4px;
}

textarea::-webkit-scrollbar-track {
    background-color: #F1F1F5;
}

textarea::-webkit-scrollbar-thumb {
    background: #DADAE3;
    border-radius: 5px;
}

textarea::-webkit-scrollbar-thumb:hover {
    background: #46AB44;
}

textarea:focus {
    outline: none;
}

.position-unset {
    position: unset !important;
}

.relative {
    position: relative;
}

.z-1 {
    position: relative;
    z-index: 1;
}

input::-webkit-calendar-picker-indicator {
    display: none;
}

input[type="date"]::-webkit-input-placeholder {
    visibility: hidden !important;
}

input[type="checkbox"] {
    position: relative !important;
    width: 18px !important;
    outline: none !important;
    height: 18px !important;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    border: 1px solid #6E747B;
    border-radius: 5px;
    background-color: white;
    padding: 0 !important;
}

input:checked[type="checkbox"] {
    background-image: url(assets/img/sucess.svg);
    background-repeat: no-repeat;
    background-position: center;
}

label {
    margin: 0;
    font-family: 'roman' !important;
    line-height: 1;
}

th {
    font-family: 'roman' !important;
}

input.p-inputtext {
    font-family: roman !important;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

button:focus {
    outline: none;
}

input {
    outline: none;
    padding: 0px 10px;
}

input:checked[type="radio"]:before {
    transform: translate(-50%, -50%) scale(1);
}

input:checked[type="radio"] {
    border: 1.5px solid #46AB44;
}

*::selection {
    color: white;
    background-color: #46AB44;
}

.text ul {
    padding-left: 15px;
    list-style-type: disc;
}

img {
    vertical-align: middle;
    border-style: none;
}

table {
    border-collapse: collapse;
}

.container {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}

.col,
.col-1,
.col-3,
.col-2,
.col-5,
.col-6,
.col-4,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.col-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

$green: #46AB44;
$lightgreen: rgba(#46AB44, 0.35);
$darkgreen: #2D972B;
$red: #C62323;
$main: #333333;
$grey: #6E747B;
$lightgrey: #D3DFEB;
$greenicon: brightness(0) saturate(100%) invert(59%) sepia(11%) saturate(2337%) hue-rotate(70deg) brightness(93%) contrast(93%);
$border: 1px solid $lightgrey;

.login {
    background-color: $green;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;

    .inner {
        width: 800px;
        height: 560px;
        max-width: 100%;
        max-height: 100%;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .title {
        font-size: 16px;
        margin: auto;
        border-bottom: 1px solid $main;
        padding-bottom: 10px;
        text-transform: uppercase;
        color: $main;
        margin-bottom: 20px;
        width: fit-content;
        font-family: caps;
        font-weight: bold;
    }

    .input-group {
        margin-bottom: 20px;

        label {
            margin-bottom: 5px;
            display: block;
        }

        input {
            border-radius: 6px;
            width: 300px;
            border: 1px solid #D3DFEB;
            font-size: 12px;
            color: $main;
            height: 40px;
        }
    }

    .green-btn {
        width: 100%;
    }
}

section {
    padding: 0px 0px 0px 0px;
    display: inline-block;
    width: calc(100% - 250px);
}

.header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;

    .list {
        gap: 10px;
        display: flex;
    }
}

.table {
    width: 100%;
    margin-left: -1px;

    tr.search {
        display: none;

        .input-form {
            margin-bottom: 0;
        }

        .search-btn {
            background-color: $green;

            img {
                filter: brightness(0) invert(1);
            }
        }
    }

    thead {
        background-color: $lightgreen;
        border: 1px solid $lightgreen;

        td {
            font-family: roman;
            font-weight: bold;
            text-align: center;

            img {
                margin-left: 5px;
            }

            button {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
            }
        }
    }

    td {
        padding: 5px;
        font-size: 12px;

        &:first-child {
            padding-left: 10px;
        }

        button:not(:last-child) {
            margin-right: 5px;
        }

        input {
            top: 2px;
        }
    }

    tbody {
        border: $border;

        td {
            font-family: light;
            border: $border;
            border-collapse: collapse;
            color: grey;

            &.center {
                text-align: -webkit-center;

                .d-flex {
                    justify-content: center;
                }
            }
        }
    }
}

.detail {
    border-radius: 5px;
    border: $border;
    margin: 20px;

    .list {
        display: flex;
        gap: 10px;
        padding: 10px 20px;
    }
}

.tab {
    border-bottom: $border;
    width: 100%;
    margin-left: -1px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    li {
        button {
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 125px;
            padding: 0 10px;
            background-color: $lightgrey;

            &.active {
                border: $border;
                border-bottom: none;
                background-color: white;
            }
        }

        &:last-child {
            button {
                border-radius: 0 5px 0 0;
            }
        }
    }
}

.form {
    padding: 20px 20px 0;

    .drop-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: $border;
        padding-bottom: 10px;
        width: 100%;
        margin-bottom: 20px;

        span {
            font-size: 12px;

            img {
                margin-left: 10px;
            }
        }
    }
}








.green-btn {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    color: white;
    font-family: caps;
    font-size: 14px;
    background-color: $green;
    transition: 0.2s;
    border-radius: 5px;

    &:hover {
        background-color: $darkgreen;
    }
}

.border-btn {
    border: $border;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 12px;
    font-size: 12px;
    border-radius: 5px;
    transition: 0.2s;
    color: $grey;

    i {
        margin-right: 5px !important;
    }

    .sm-btn {
        margin-right: 5px;
    }

    &:hover {
        border: 1px solid $grey;
    }

    &.active {
        border: 1px solid #46AB44;
        background-color: rgba(#46AB44, 0.10);
    }
}

.orange-border-btn {
    border: $border;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 12px;
    font-size: 12px;
    border-radius: 5px;
    transition: 0.2s;
    color: var(--gray-50);
    background: #fca130;

    i {
        margin-right: 5px !important;
        color: var(--gray-50);
    }

    .sm-btn {
        margin-right: 5px;
    }

    &:hover {
        border: 1px solid #fa8e0a;
    }

    &:disabled {
        color: $grey;
        background: var(--gray-50);
    }
}

.red-border-btn {
    border: $border;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 12px;
    font-size: 12px;
    border-radius: 5px;
    transition: 0.2s;
    color: var(--gray-50);
    background: $red;

    i {
        margin-right: 5px !important;
        color: var(--gray-50);
    }

    .sm-btn {
        margin-right: 5px;
    }

    &:hover {
        border: 1px solid #a00a0a;
    }

    &:disabled {
        color: $grey;
        background: var(--gray-50);
    }
}



.icon-border-btn {
    border: $border;
    display: inline-block;
    margin: 0px 2px;
    align-items: center;
    justify-content: center;
    padding: 7px;
    font-size: 12px;
    border-radius: 5px;
    transition: 0.2s;
    color: $grey;

    &:hover {
        border: 1px solid $grey;
    }

    &.active {
        border: 1px solid #46AB44;
        background-color: rgba(#46AB44, 0.10);
    }
}







.sm-btn {
    border: 1.5px solid #6E747B;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17px;
    height: 17px;
    padding: 1px;
    transition: 0.2s;

    &:hover {
        background-color: $green;
        border: 1px solid transparent;

        img {
            filter: brightness(0) invert(1);
        }
    }

    img {
        max-width: 100%;
        max-height: 100%;
    }
}

.input-form {
    position: relative;
    width: 100%;
    margin-bottom: 20px;

    label {
        display: block;
        margin-bottom: 5px;
        color: $grey;
        font-size: 12px;
    }

    input {
        border: $border;
        height: 40px;
        border-radius: 5px;
        width: 100%;

        &[disabled] {
            background-color: $lightgrey;
        }
    }

    img {
        position: absolute;
        bottom: 10px;
        right: 10px;
    }
}

.popup {
    background-color: rgba($color: #000000, $alpha: 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    .inner {
        padding: 20px;
        background-color: white;
        border-radius: 5px;
        width: 650px;
        max-height: calc(100vh - 80px);
        overflow-y: auto;

        .head {
            background-color: $lightgreen;
            min-height: 40px;
            display: flex;
            align-items: center;
            padding: 10px 20px;
            justify-content: space-between;
            position: relative;
            width: calc(100% + 40px);
            top: -20px;
            left: -20px;
        }

        .frame {
            border-radius: 50%;
            border: $border;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 48px;
            height: 48px;
            margin-bottom: 10px;
            padding-bottom: 20px;

            img {
                width: 16px;
            }
        }

        .title {
            font-size: 16px;
            font-family: caps;
            margin-bottom: 10px;
            display: block;
        }

        .sub-title {
            color: $grey;
            font-size: 12px;
            margin-bottom: 20px;
        }

        .col-2 .green-btn {
            width: 100%;
        }
    }

    &.success {
        .inner {
            width: 230px;
            flex-direction: column;
            align-items: center;
            display: flex;
            justify-content: center;
        }
    }

    &.error {
        .inner {
            width: 230px;
            flex-direction: column;
            align-items: center;
            display: flex;
            justify-content: center;
        }

        .green-btn {
            background-color: $red;
        }
    }
}

.footer {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .text {
        display: flex;

        p {
            font-size: 12px;
            font-family: roman;
            margin-left: 20px;
            color: $grey;
        }
    }

    .dropdown {
        .select {
            min-width: 46px;
            height: 24px;
            font-size: 12px;
            padding: 0 10px 0 5px;

            img {
                width: 12px;
                right: 4px;
            }
        }

        .result {
            top: unset;
            max-height: unset;
            bottom: calc(100% - 1px);

            li {
                text-align: center;
                justify-content: center;
            }
        }
    }
}

.pagination {
    display: flex;

    li {
        margin-right: 10px;
    }

    .item {
        border-radius: 5px;
        height: 24px;
        min-width: 24px;
        padding: 0 5px;
        border: $border;
        transition: 0.2s;
        font-size: 12px;
        color: $grey;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            color: white;
            background-color: $green;
            border: 1px solid transparent;

            img {
                filter: brightness(0) invert(1);
            }
        }
    }
}

.file-upload button {
    width: 100%;
    border: 1px dashed $green;
    color: $grey;
    font-size: 12px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    padding: 0 10px;
}


.dropdown {
    position: relative;

    label {
        display: block;
        margin-bottom: 5px;
        color: #6E747B;
        font-size: 12px;
    }

    .select {
        border: 1px solid #D3DFEB;
        height: 40px;
        border-radius: 5px;
        width: 100%;
        position: relative;
        font-size: 14px;
        color: $grey;
        text-align: left;
        padding-left: 10px;

        img {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .result {
        max-height: 210px;
        overflow-y: scroll;
        border: $border;
        position: absolute;
        width: 100%;
        background-color: white;
        z-index: 1;
        top: calc(100% - 1px);
        border-radius: 0 0 5px 5px;
        display: none;

        li {
            font-size: 14px;
            min-height: 40px;
            font-family: light;
            color: $grey;
            padding: 10px 10px;
            display: flex;
            align-items: center;
            cursor: pointer;
            transition: 0.2s;

            &:hover {
                color: $green;
            }
        }
    }
}





//CUSTOMIZATIONS
.p-tag-value {
    color: white !important;
    font-weight: normal !important;
    font-size: 12px !important;
    line-height: 1.05 !important;
}

.p-chip-text {
    font-weight: normal !important;
    line-height: 1.05 !important;
    font-size: 12px !important;
    text-align: left;
    max-width: 1750px;
}

.p-multiselect .p-multiselect-label {
    padding: 5px !important;
    font-size: 12px !important;
    text-align: left !important;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s !important;
}

//////////TABLE RELATED///////////////

.p-datatable .p-datatable-tbody>tr>td,
.p-treetable .p-treetable-tbody>tr>td {
    font-size: 12px !important;
    padding: 6px 12px !important;
    text-align: left !important;
    vertical-align: middle !important;
}

.p-datatable .p-datatable-tbody>tr,
.p-treetable .p-treetable-tbody>tr {
    height: 40px;
    -webkit-transition: background-color 150ms linear;
    -ms-transition: background-color 150ms linear;
    transition: background-color 150ms linear;
}


.p-datatable .p-datatable-tbody>tr:hover,
.p-treetable .p-treetable-tbody>tr:hover {
    cursor: pointer !important;
    background-color: #bbdfbb52 !important;
    -webkit-transition: background-color 150ms linear;
    -ms-transition: background-color 150ms linear;
    transition: background-color 150ms linear;
}

.p-datatable.p-datatable-sm .p-datatable-thead tr th,
.p-treetable.p-treetable-sm .p-treetable-thead tr th {
    padding: 5px 12px !important;
    font-size: 12px !important;
    text-align: left !important;
    position: relative !important;
}

.p-datatable-gridlines .p-datatable-thead tr th {
    border-width: 1px 1px 1px 1px !important;
}

.p-datatable .p-datatable-thead tr th {
    text-align: left;
    padding: 1rem 1rem;
    border: 1px solid #e9ebed;
    border-width: 0 0 1px 0;
    font-weight: 600;
    color: #555555;
    background: #f7f6f9;
    transition: box-shadow 0.2s;
}

//////////TABLE RELATED///////////////

.p-multiselect-panel .p-multiselect-items .p-multiselect-item {
    font-size: 12px !important;
}

.p-column-filter-overlay .p-column-filter-row-items .p-column-filter-row-item {
    font-size: 12px !important;
}

p-sorticon {
    position: absolute;
    top: 2px;
    right: 2px;
}

p-sorticon i {
    font-size: 12px !important;
}

.p-inputtext {
    font-size: 0.875rem;
    padding: 5px !important;
}

.p-togglebutton.p-button.p-highlight {
    background: #4caf5085;
    border-color: #4caf5085;
    color: #ffffff !important;
}

.p-togglebutton.p-button.p-highlight span {
    color: #ffffff !important;
}

.table-settings {
    .p-divider.p-divider-horizontal {
        margin: 5px 10px !important;
        padding: 0 1rem !important;
    }


    .switch-input-group {
        height: 30px !important;
    }

    .switch-input-group span {
        margin-right: 10px !important;
        font-size: 14px !important;
        width: 100% !important;
        line-height: 30px !important;
    }

}

.p-button-label {
    font-weight: normal;
}

.p-dialog .p-dialog-header .p-dialog-title {
    font-weight: normal !important;
    font-size: 1.2rem !important;
    font-family: 'roman' !important;
}

.form-container {
    position: relative;
    width: 100%;
    min-height: 300px;
    border-top: 1px solid #dee2e6;
    padding-top: 10px;
}

.manage-form-container .p-tabview-title {
    font-weight: normal !important;
    font-size: 14px !important;
    font-family: 'roman' !important;
}

.manage-form-container .p-tabview-nav-container {
    position: relative !important;
    width: 20% !important;
    display: inline-block !important;
    vertical-align: top !important;
}

.manage-form-container .p-tabview .p-tabview-panels {
    display: inline-block !important;
    width: 80% !important;
    padding-top: 0px !important;
}

.manage-form-container .p-tabview .p-tabview-nav {
    flex-direction: column !important;
}

.manage-form-container .p-tabview .p-tabview-nav li .p-tabview-nav-link {
    border-width: 0 2px 0 0 !important;
}

.manage-form-container .p-tabview-nav-content {
    margin-top: 20px;
    background: #ffffff !important;
    color: #495057 !important;
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%) !important;
    border-radius: 6px !important;
}

.manage-form-container .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    background: #ffffff;
    border-color: #4CAF50 !important;
    color: #4CAF50 !important;
}

.manage-form-container .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link span {
    color: #4CAF50 !important;
}

.manage-form-container .p-tabview .p-tabview-nav li {
    margin-right: 0;
}

.form-actions button i {
    margin-right: 12px;
}

.p-treeselect {
    width: 400px !important;
}

.p-tree {
    padding: 5px !important;
}

.p-tree .p-tree-container .p-treenode {
    font-size: 11px !important;
    font-family: 'roman';
}

.menu-leaf>a>span {
    font-size: 14px !important;
}

.main-menu-list>li>a {
    padding: 10px;
    font-size: 14px;
}

.menu-leaf {
    padding: 5px 5px 5px 10px !important
}

.main-menu-list>li>a span {
    font-family: 'roman' !important;
}

.p-divider.p-divider-horizontal {
    margin: 0.2rem 0 !important;
    padding: 0 0.2rem !important;
}

.heading-section>div {
    padding: 20px !important;
}

.heading-section .heading-section-title {
    display: inline-block !important;

    font-size: 1.75rem !important;
}

.heading-section .heading-section-title div {
    font-family: 'roman' !important;
}

.p-tabview-title {
    white-space: normal !important;
}

textarea.ng-dirty.ng-invalid {
    border-color: #f44336 !important;
}

:host ::ng-deep .p-rowgroup-footer td {
    font-weight: 700;
}

:host ::ng-deep .p-rowgroup-header {
    span {
        font-weight: 700;
    }

    .p-row-toggler {
        vertical-align: middle;
        margin-right: .25rem;
    }
}

app-attribute-form .p-panel .p-panel-content {
    padding: 0px !important;
    border: 1px solid #dee2e6;
    background: #ffffff;
    color: #495057;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 0 none;
}

.sd-page {
    font-size: 12px !important;
    margin-top: 0 !important;
    padding-top: 0 !important;
    padding: 0 !important;
}

.sd-table span {
    font-size: 12px !important;
    font-family: roman !important;
}

.sd-row {
    margin-top: 0 !important;
}

.survey-card {
    font-family: caps !important;
    margin: 48px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.survey-card .p-card {
    width: 650px;
}

.heading-section .heading-section-title {
    display: inline-block !important;
    font-size: 1rem !important;
}

.center-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.th-group-style {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 12px 4px;
    width: 100%;
}

.p-toast.p-toast-message.p-toast-message-content.p-toast-summary {
    font-family: roman;
}

.p-ripple.p-element.p-button.p-component span.p-button-label {
    width: max-content;
}