<p-toast position="top-right"></p-toast>
<p-confirmDialog
  header="Confirmation"
  icon="pi pi-exclamation-triangle"
></p-confirmDialog>

<section>
  <!-- ATTRIBUTE TITLE BLOCK -->
  <div class="surface-section heading-section">
    <div class="border-bottom-1 surface-border">
      <div class="heading-section-title font-medium align-items-center">
        <span>{{pageTitle}}</span>
      </div>
    </div>
  </div>
  <div class="header p-2">
    <ul class="list">
      <!-- SETTINGS -->
      <li>
        <button
          type="button"
          class="border-btn"
          (click)="onAddClick()"
        >
          <i class="pi pi-plus-circle"></i>
          დამატება
        </button>
      </li>
      <li>
        <button
          type="button"
          class="border-btn"
          (click)="onEditClick()"
          [disabled]="!selectedRow"
          [class.p-disabled]="!selectedRow"
        >
          <i class="pi pi-pencil"></i>
          რედაქტირება
        </button>
      </li>
      <li>
        <button
          type="button"
          class="border-btn"
          (click)="onDeleteClick()"
          [disabled]="!selectedRow"
          [class.p-disabled]="!selectedRow"
        >
          <i class="pi pi-trash"></i>
          წაშლა
        </button>
      </li>
      <li>
        <button
          type="button"
          class="border-btn icon-only-btn"
        >
          <i class="pi pi-refresh"></i>
        </button>
      </li>
    </ul>
  </div>
  <div class="flex flex-row">
    <p-table
      [loading]="isLoading"
      [showLoader]="false"
      sortMode="single"
      styleClass="p-datatable-sm p-datatable-gridlines"
      [paginator]="parsedClients.length > 24"
      [rows]="25"
      [style.width]="isSidebarVisible ? 'calc(98vw - 500px) !important' : '100% !important'"
      currentPageReportTemplate="ნაჩვენებია {first} - დან {last} - მდე. სულ {totalRecords} ჩანაწერი"
      [rowsPerPageOptions]="[10, 25, 50]"
      [showCurrentPageReport]="true"
      responsiveLayout="scroll"
      [(selection)]="selectedRow"
      (onRowUnselect)="onRow($event)"
      selectionMode="single"
      [value]="parsedClients"
      dataKey="main.id"
    >
      <ng-template
        pTemplate="header"
        let-attr
      >
        <tr>
          <!-- <th style="width: 5rem"></th> -->
          <!-- <th pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th> -->
          <!-- <th pSortableColumn="title">დასახელება <p-sortIcon field="title"></p-sortIcon></th> -->
          <!-- <th>სტატუსი</th> -->
          <th pSortableColumn="main.id">ID <p-sortIcon field="main.id"></p-sortIcon></th>
          <th pSortableColumn="main.client_code">
            კლიენტის კოდი
            <p-sortIcon field="main.client_code"></p-sortIcon>
          </th>
          <th pSortableColumn="main.name">
            სახელი
            <p-sortIcon field="main.name"></p-sortIcon>
          </th>
          <th pSortableColumn="main.surname">
            გვარი
            <p-sortIcon field="main.surname"></p-sortIcon>
          </th>
          <th pSortableColumn="main.registration_date">
            რეგისტრაციის თარიღი
            <p-sortIcon field="main.registration_date"></p-sortIcon>
          </th>
          <th style="text-align: center !important">ძირითადი მახასიათებლები</th>
          <th style="text-align: center !important">დამატებითი ინფორმაცია</th>
          <th style="text-align: center !important">საკონტაქტო ინფორმაცია</th>
          <th style="text-align: center !important">სამისამართო ინფორმაცია</th>
        </tr>
        <tr>
          <th></th>
          <th>
            <p-columnFilter
              field="main.client_code"
              type="text"
              matchMode="contains"
              [showClearButton]="false"
              [showMenu]="false"
            ></p-columnFilter>
          </th>
          <th>
            <p-columnFilter
              field="main.name"
              type="text"
              matchMode="contains"
              [showClearButton]="false"
              [showMenu]="false"
            ></p-columnFilter>
          </th>
          <th>
            <p-columnFilter
              field="main.surname"
              type="text"
              matchMode="contains"
              [showClearButton]="false"
              [showMenu]="false"
            ></p-columnFilter>
          </th>
          <th>
            <!-- <p-columnFilter
              field="main.registration_date"
              type="date"
            ></p-columnFilter> -->
          </th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <!-- <th></th> -->
        </tr>
      </ng-template>
      <ng-template pTemplate="loadingbody">
        <tr
          *ngFor="let item of loadingArray"
          style="height:46px"
        >
          <td>
            <p-tableRadioButton></p-tableRadioButton>
          </td>
          <td>
            <p-skeleton></p-skeleton>
          </td>
          <td>
            <p-skeleton></p-skeleton>
          </td>
          <td>
            <p-skeleton></p-skeleton>
          </td>
          <td>
            <p-skeleton></p-skeleton>
          </td>
          <td>
            <p-skeleton></p-skeleton>
          </td>
          <td>
            <p-skeleton></p-skeleton>
          </td>
          <td>
            <p-skeleton></p-skeleton>
          </td>
          <td>
            <p-skeleton></p-skeleton>
          </td>
        </tr>
      </ng-template>
      <ng-template
        pTemplate="body"
        let-client
      >
        <tr>
          <td>
            <p-tableRadioButton [value]="client"></p-tableRadioButton>
          </td>
          <td>
            {{client.main.client_code}}
          </td>
          <td>
            {{client.main.name}}
          </td>
          <td>
            {{client.main.surname}}
          </td>
          <td>
            {{client.main.registration_date}}
          </td>
          <!-- types in clientService -->

          <td>
            <div class="flex justify-content-center">
              <button
                class="border-btn"
                (click)="onDetailClick(0,client.main)"
              >დეტალები</button>
            </div>

          </td>
          <td>
            <div class="flex justify-content-center">
              <button
                class="border-btn"
                (click)="onDetailClick(1,client.additional)"
              >დეტალები</button>
            </div>

          </td>
          <td>
            <div class="flex justify-content-center">
              <button
                class="border-btn"
                (click)="onDetailClick(2,client.contact)"
              >დეტალები</button>
            </div>

          </td>
          <td>
            <div class="flex justify-content-center">
              <button
                class="border-btn"
                (click)="onDetailClick(3,client.address)"
              >დეტალები</button>
            </div>

          </td>
        </tr>
      </ng-template>
    </p-table>
    <div
      *ngIf="isSidebarVisible"
      style="background:#f7f6f9; height: 100vh"
      class="w-20rem border-left-1 border-top-1 surface-border p-1 pt-2"
    >
      <div
        *ngFor="let col of sidebarCols"
        class="flex flex-column justify-content-center align-items-between gap-1 w-full"
      >
        <div class="flex flex-row justify-content-between align-items-center gap-3">
          <label
            for="username2"
            class="text-sm"
          >{{ col['label']}}</label>
          <p-button
            (click)="copyToClipboard(sidebarData[(col['fieldName'])])"
            icon="pi pi-copy"
            styleClass="p-button-rounded p-button-secondary p-button-outlined mr-5"
          ></p-button>
        </div>
        <span style="margin-left: 6px; min-height: 20px ;">
          {{
          col['type'] == 'switch' ? (sidebarData[(col['fieldName'])] ? 'კი':'არა') : sidebarData[(col['fieldName'])]
          }}
        </span>
        <div style="width: calc(100% - 24px);">
          <p-divider></p-divider>
        </div>
      </div>
    </div>
  </div>

</section>