<p-toast position="top-right"></p-toast>
<p-confirmDialog
    header="Confirmation"
    icon="pi pi-exclamation-triangle"
></p-confirmDialog>
<main>
    <left-menu></left-menu>
    <section>
        <ng-container>
            <ngx-spinner
                size="medium"
                color="#fff"
                bdColor="rgba(51,51,51,0.3)"
                type="ball-scale-multiple"
                [fullScreen]="false"
            >
                <p style="font-size: 20px; color: white">გთხოვთ დაელოდოთ...</p>
            </ngx-spinner>
        </ng-container>
        <p-table
            #data
            styleClass="p-datatable-gridlines"
            dataKey="id"
            stateStorage="local"
            stateKey="{{storageKey}}"
            [value]="users"
        >
            <ng-template pTemplate="caption">
                <div class="header">
                    <ul class="list">
                        <ng-container>
                            <li>
                                <button
                                    (click)="onAddUser()"
                                    type="button"
                                    class="border-btn"
                                >
                                    <i class="pi pi-plus-circle"></i>
                                    დამატება
                                </button>
                            </li>
                        </ng-container>
                    </ul>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>#</th>
                    <th>სახელი</th>
                    <th>გვარი</th>
                    <th>ტელ.</th>
                    <th>მისამართი</th>
                    <th>მართვა</th>
                </tr>
                <tr>
                    <!--  -->
                    <th>#</th>
                    <th>
                        <input
                            pInputText
                            type="text"
                            (input)="data.filter(filters['name'], 'name', 'contains')"
                            [(ngModel)]="filters['name']"
                            placeholder="სახელი"
                            class="w-full"
                        >
                    </th>
                    <th>
                        <input
                            pInputText
                            type="text"
                            (input)="data.filter(filters['lastname'], 'lastname', 'contains')"
                            [(ngModel)]="filters['lastname']"
                            placeholder="გვარი"
                            class="w-full"
                        >
                    </th>
                    <th>
                        <input
                            pInputText
                            type="text"
                            (input)="data.filter(filters['phone'], 'phone', 'contains')"
                            [(ngModel)]="filters['phone']"
                            placeholder="ტელ.ნომერი"
                            class="w-full"
                        >
                    </th>
                    <th>
                        <input
                            pInputText
                            type="text"
                            (input)="data.filter(filters['address'], 'address', 'contains')"
                            [(ngModel)]="filters['address']"
                            placeholder="მისამართი"
                            class="w-full"
                        >
                    </th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template
                pTemplate="body"
                let-user
            >
                <tr>
                    <td>{{user.id}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.lastname}}</td>
                    <td>{{user.phone}}</td>
                    <td>{{user.address}}</td>
                    <td>
                        <button
                            pButton
                            type="button"
                            class="p-button-outlined p-button-rounded"
                        >
                            წვდომები
                        </button>
                        <button
                            pButton
                            type="button"
                            (click)="onEdit(user.id)"
                            class="p-button-outlined p-button-rounded"
                        >
                            რედაქტირება
                        </button>
                        <button
                            pButton
                            type="button"
                            (click)="onDelete(user.id)"
                            class="p-button-outlined p-button-rounded"
                        >
                            წაშლა
                        </button>
                        <!-- <button>წვდომები</button>
                        <button>რედაქტირება</button>
                        <button>წაშლა</button> -->
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <!-- <div style="text-align:center; margin : 60px auto;">
            <h2>
                სისტემის მომხმარებლების მართვის ფუნქციონალი დროებით გათიშულია.
            </h2>
        </div> -->
    </section>
</main>
