td button {
    margin: auto 5px;
    color: black;
    border-color: #4CAF50;
}
.thead>tr>th {
    text-align: center !important;
}

.heading-section .heading-section-title {
    display: inline-block !important;
    font-size: 1rem !important;
}

.row-item {
    font-family: light !important;
    border-collapse: collapse !important;
    font-size: 11px !important;
}

.head-item {
    font-family: roman !important;
    font-weight: bold !important;
    text-align: center !important;
    font-size: 12px;
}

li button i {
    margin-right: 5px;
}

li button {
    font-family: roman;
}

.border-btn.disabled {
    background-color: #80808033;
    border: 1px solid #80808033;
    cursor: auto;
}

.row-item tr td button {
    margin: 0px 5px 0px 5px;
}

p-sorticon {
    position: unset;
}
:host ::ng-deep .p-inputtext  {
    font-family: roman;
  }
  :host ::ng-deep .p-inputtext {
    color: green;
    border: 2px solid green;
    border-radius: 10px;
}