.dynamic-input {
    margin: 5px;
    display: flex;
    align-items: center;
    padding: 5px 0px;
}

.dynamic-input .dynamic-input-label {
    font-size: 14px;
    margin: 0px 5px 0px 0px;
    font-family: 'roman';
    width:250px !important;
    text-overflow: ellipsis;
}
.p-inputgroup {
    height: 100%;
    width: auto;
}
.pi-exclamation-triangle {
    color: #ef0000bd;
}