<p-toast position="top-right"></p-toast>

<div class="form-container">
    <div>
        <p-panel header="სისტემის მომხმარებლის {{actionTitle}}">
            <div class="form-inputs">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-exclamation-triangle"></i>
                    </span>
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-envelope"></i>
                    </span>
                    <input type="text" pInputText [(ngModel)]="values['email']" [class.ng-invalid]="!isEmailValid()"
                        [class.ng-dirty]="!isEmailValid()" [disabled]="userID != null" placeholder="ელ-ფოსტა">
                </div>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-exclamation-triangle"></i>
                    </span>
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-user"></i>
                    </span>
                    <input type="text" pInputText [(ngModel)]="values['name']"
                        [class.ng-invalid]="!isValidValue('name')" [class.ng-dirty]="!isValidValue('name')"
                        placeholder="სახელი">
                </div>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-exclamation-triangle"></i>
                    </span>
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-user"></i>
                    </span>
                    <input type="text" pInputText [(ngModel)]="values['lastname']"
                        [class.ng-invalid]="!isValidValue('lastname')" [class.ng-dirty]="!isValidValue('lastname')"
                        placeholder="გვარი">
                </div>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-exclamation-triangle"></i>
                    </span>
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-phone"></i>
                    </span>
                    <input type="text" pInputText [(ngModel)]="values['phone']"
                        [class.ng-invalid]="!isValidValue('phone')" [class.ng-dirty]="!isValidValue('phone')"
                        placeholder="ტელ.ნომერი">
                </div>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-map-marker"></i>
                    </span>
                    <input type="text" pInputText [(ngModel)]="values['address']" placeholder="მისამართი">
                </div>

                <div class="p-inputgroup" *ngIf="!userID">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-exclamation-triangle"></i>
                    </span>
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-lock"></i>
                    </span>
                    <input type="password" pInputText [class.ng-invalid]="!isValidValue('password')"
                        [class.ng-dirty]="!isValidValue('password')" [(ngModel)]="values['password']"
                        placeholder="პაროლი">
                </div>
            </div>
            <p-divider></p-divider>
            <div class="form-actions">
                <span>
                    <button (click)="onCancel()" pButton type="button" label="დახურვა"
                        class="p-button-outlined p-button-md">
                        <i class="pi pi-replay"></i>
                    </button>
                    <button pButton (click)="onSubmit()" type="button"
                        [label]="userID != null ? 'რედაქტირება' : 'დამატება'" class="p-button-outlined p-button-md">
                        <i class="pi pi-check"></i>
                    </button>
                </span>
            </div>
        </p-panel>
    </div>
</div>